# 제 1유형

데이터 출처 : https://archive.ics.uci.edu/ml/datasets/Bank+Marketing (후처리 작업)

데이터 설명 : 은행의 전화 마케팅에 대해 고객의 반응 여부
dataurl : https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv

## 마케팅 응답 고객들의 나이를 10살 단위로 변환 했을 때, 가장 많은 인원을 가진 나이대는?  (0 - 9 : 0 , 10- 19 : 10)

In [9]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
# print(df.head())
# print(df.isnull().sum())
# print(df.info())
df['age2'] = df.age//10 *10
# print(df.age2)
answer = df.age2.value_counts().index[0]
print(answer)

30

In [33]:
df.head()

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,y,age2
0,13829,29,technician,single,tertiary,no,18254,no,no,cellular,11,may,2,-1,0,unknown,no,20
1,22677,26,services,single,secondary,no,512,yes,yes,unknown,5,jun,3,-1,0,unknown,no,20
2,10541,30,management,single,secondary,no,135,no,no,cellular,14,aug,2,-1,0,unknown,no,30
3,13689,41,technician,married,unknown,no,30,yes,no,cellular,10,jul,1,-1,0,unknown,no,40
4,11304,27,admin.,single,secondary,no,321,no,yes,unknown,2,sep,1,-1,0,unknown,no,20

## 마케팅 응답 고객들의 나이를 10살 단위로 변환 했을 때, 가장 많은 나이대 구간의 인원은 몇명인가?

In [14]:
answer = len(df.loc[df.age2==30])
print(answer)

5056

## 나이가 25살 이상 29살 미만인 응답 고객들중 housing컬럼의 값이 yes인 고객의 수는?

In [16]:
target = df.loc[(df.age>=25)&(df.age<29)]
answer= len(target.loc[target.housing =='yes'])
print(answer)

504

## numeric한 값을 가지지 않은 컬럼들중 unique한 값을 가장 많이 가지는 컬럼은?

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12870 entries, 0 to 12869
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         12870 non-null  int64
 1   age        12870 non-null  int64
 2   job        12870 non-null  object
 3   marital    12870 non-null  object
 4   education  12870 non-null  object
 5   default    12870 non-null  object
 6   balance    12870 non-null  int64
 7   housing    12870 non-null  object
 8   loan       12870 non-null  object
 9   contact    12870 non-null  object
 10  day        12870 non-null  int64
 11  month      12870 non-null  object
 12  campaign   12870 non-null  int64
 13  pdays      12870 non-null  int64
 14  previous   12870 non-null  int64
 15  poutcome   12870 non-null  object
 16  y          12870 non-null  object
 17  age2       12870 non-null  int64
dtypes: int64(8), object(10)
memory usage: 1.8+ MB

In [55]:
lst= [] 
for col in df.select_dtypes(exclude='int'):
    target = df[col]
    lst.append([col,target.nunique()])

result = pd.DataFrame(lst).sort_values(1,ascending=False).values[0][0]
print(result)

job

In [84]:
lst= [] 
for col in df.select_dtypes(include='object'):
    target = df[col]
    lst.append([col,target.nunique()])

result = pd.DataFrame(lst).sort_values(by=1,ascending=False)
print(result)

           0   1
0        job  12
7      month  12
2  education   4
8   poutcome   4
1    marital   3
6    contact   3
3    default   2
4    housing   2
5       loan   2
9          y   2

In [59]:
obj = df.select_dtypes(include='object').columns
target = df.loc[:,obj]
# print(target.info())
# print(target.job.nunique())
# print(len(target.job.unique()))
lst =[]
for col in target.columns:

12
12

## balance 컬럼값들의 평균값 이상을 가지는 데이터를 ID값을 기준으로 내림차순 정렬했을때 상위 100개 데이터의 balance값의 평균은?

In [63]:
target = df.loc[df.balance >= df.balance.mean()]
answer = target.sort_values(by='ID',ascending=False)[:100].balance.mean()
print(answer)

3473.73

## 가장 많은 광고를 집행했던 날짜는 언제인가? (데이터 그대로 일(숫자),달(영문)으로 표기)

In [49]:
answer = df[['day','month']].value_counts().index[0]
print(answer)

(15, 'may')

In [47]:
# print(df.head())
# print(df.campaign.max())
# answer= df.loc[df.campaign==43][['day','month']]
# print(answer)

      day month
2556    9   jul

## 데이터의 job이 unknown 상태인 고객들의 age 컬럼 값의 정규성을 검정하고자 한다. 샤피로 검정의 p-value값을 구하여라

In [64]:
target = df.loc[df.job=='unknown'].age
target

25       52
86       55
135      46
237      54
409      45
         ..
12250    48
12615    58
12675    57
12689    38
12866    31
Name: age, Length: 80, dtype: int64

In [72]:
from scipy.stats import shapiro
answer = shapiro(target)
print(answer) #뒤의 값이 p-value

(0.9784717559814453, 0.1961131989955902)

In [71]:
print(answer[1])

0.1961131989955902

## age와 balance의 상관계수를 구하여라

In [44]:
target = df.loc[:,['age','balance']]
answer = target.corr().iloc[0,1]
print(answer)

0.10198734763981462

## y 변수와 education 변수는 독립인지 카이제곱검정을 통해 확인하려한다. p-value값을 출력하라

In [75]:
target = df.loc[:,['y','education']]
print(target)

         y  education
0       no   tertiary
1       no  secondary
2       no  secondary
3       no    unknown
4       no  secondary
...    ...        ...
12865  yes  secondary
12866  yes  secondary
12867   no   tertiary
12868   no   tertiary
12869   no  secondary

[12870 rows x 2 columns]

## 각 job에 따라 divorced/married 인원의 비율을 확인 했을 때 그 값이 가장 높은 값은? (다시하기)

In [53]:
print(df.marital.value_counts())
df2 =df.copy()
df2 = df2.groupby(['job','marital']).size().to_frame('cnt')

print(df2)

married     7490
single      3905
divorced    1475
Name: marital, dtype: int64
                         cnt
job           marital
admin.        divorced   207
              married    762
              single     495
blue-collar   divorced   205
              married   1775
              single     591
entrepreneur  divorced    44
              married    272
              single      67
housemaid     divorced    49
              married    245
              single      40
management    divorced   323
              married   1580
              single     955
retired       divorced   157
              married    572
              single      41
self-employed divorced    39
              married    284
              single     131
services      divorced   138
              married    584
              single     321
student       married     24
              single     334
technician    divorced   246
              married   1115
              single     780
unemployed    divorced    62
              married    219
              single     133
unknown       divorced     5
              married     58
              single      17

# 제 2유형

데이터 출처 : https://archive.ics.uci.edu/ml/datasets/Bank+Marketing (후처리 작업)

데이터 설명 : 은행의 전화 마케팅에 대해 고객의 반응 여부

train : https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv

test : https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/test.csv

In [167]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
from sklearn.preprocessing import StandardScaler, LabelEncoder
Scaler_s =StandardScaler()
LE = LabelEncoder()
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(random_state=32)
from sklearn.metrics import roc_auc_score

train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/test.csv')
# print(train.head())
# print(train.info())
# print(train.describe())
# print(train.age.quantile(0.25))
# print(train.y.unique())

x_train = train.drop(['ID','y'],axis=1)
y_train = train.y
x_test = test.drop('ID',axis=1)
#수치형 스케일링
num1 = x_train.select_dtypes(include='number').columns
num2 = x_test.select_dtypes(include='number').columns
for col in num1:
    x_train[col] = Scaler_s.fit_transform(x_train[[col]])
for col in num2:
    x_test[col] = Scaler_s.transform(x_test[[col]])

# print(x_train.head())
# print(x_test.head())
#범주형 인코딩
obj1 = x_train.select_dtypes(include='object').columns
obj2 = x_test.select_dtypes(include='object').columns

# for col in obj1:
#     x_train[col] = LE.fit_transform(x_train[[col]])
    
# for col in obj2:
#     x_test[col] = LE.transform(x_test[[col]])
    
# print(x_train.head())
# print(x_test.head())
# print(y_train.head())

encoders = {}
for col in obj1:
    encoders[col] = preprocessing.LabelEncoder()
    x_train[col] = encoders[col].fit_transform(x_train[col])
    
for col in obj2:
    x_test[col] = encoders[col].transform(x_test[col])

train['y'] = LE.fit_transform(train[['y']])  #no :0, yes:1
y_train = train['y']
# print(y_train.head())
# print(x_train.head())
# print(x_test.head())

# print(x_train.describe())
# print(y_train)
x_tr, x_val, y_tr, y_val = train_test_split(x_train,y_train,random_state=0,test_size=0.2)

rfc.fit(x_tr,y_tr)
pred_val = rfc.predict(x_val)
# print(pred_val)
print(rfc.score(x_tr,y_tr))
print(rfc.score(x_val,y_val))
print(roc_auc_score(pred_val,y_val))

pred_proba = rfc.predict_proba(x_test)
submission=pd.DataFrame({'ID':test.ID , 'pred_proba':pred_proba[:,1]}) #마케팅에 yes할 확률
submission.to_csv('수험번호.csv', index=False)
check = pd.read_csv('수험번호.csv')
print(check.head())

1.0
0.7828282828282829
0.7505571266838701
      ID  pred_proba
0  53608        0.63
1  51055        0.49
2  52573        0.32
3  50458        0.28
4  52272        0.43

다시

In [206]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

from sklearn.preprocessing import LabelEncoder, MinMaxScaler, StandardScaler
LE = LabelEncoder()
Scaler_m = MinMaxScaler()
Scaler_s = StandardScaler()

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(random_state=2022)
                        

train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/test.csv')
# print(train.columns)
# print(test.head(2))
# print(train.isnull().sum())
# print(test.isnull().sum())
X = train.drop(['ID','y'],axis=1)
y = train.y
X_test = test.drop('ID', axis=1)

obj = X.select_dtypes(include='object').columns #object타입 컬럼
num = X.select_dtypes(include='number').columns #수치형타입 컬럼

# print(X[num].describe())
# print(num)

for col in num:
    Scaler_m.fit(X[[col]])
    X[col] = Scaler_m.transform(X[[col]])
    X_test[col] =Scaler_m.transform(X_test[[col]])

# print(num)
# print(X_test.select_dtypes(include='number').columns)
# print(obj)
# print(X_test.select_dtypes(include='object').columns)
# print(X.info())

# for col in obj: #label인코딩과 원핫인코딩구분하기위해서 알아보기
#     print(X[col].unique())
    
obj_le=['default','housing','loan']
obj_oh= [x for x in obj if x not in obj_le]
# print(obj_oh)

for col in obj_le:
    LE.fit(X[col])
    X[col] = LE.transform(X[col])
    X_test[col] = LE.transform(X_test[col])
X_dum = X[obj_oh]
X_test_dum = X_test[obj_oh]
X = X.drop(obj_oh,axis=1)
X_test =X_test.drop(obj_oh,axis=1)

X_dum = pd.get_dummies(X_dum)
X_test_dum = pd.get_dummies(X_test_dum)

X_final = pd.concat([X,X_dum],axis=1)
X_test_final = pd.concat([X_test,X_test_dum],axis=1)
# print(X_final.head(2))

X_tr,X_val,y_tr,y_val = train_test_split(X_final,y,random_state=6,test_size=0.2)

rfc.fit(X_tr,y_tr)
pred_y_val = rfc.predict(X_val)
pred_proba_y_val = rfc.predict_proba(X_val)
print(rfc.score(X_tr,y_tr))
print(rfc.score(X_val,y_val))

from sklearn.metrics import roc_auc_score
print(roc_auc_score(y_val,pred_proba_y_val[:,1]))


roc_list = []
for a in range(50):
    X_tr,X_val,y_tr,y_val = train_test_split(X_final,y,random_state=a,test_size=0.2)

    rfc.fit(X_tr,y_tr)
    pred_proba_y_val = rfc.predict_proba(X_val)
    roc = roc_auc_score(y_val,pred_proba_y_val[:,1])
    
    roc_list.append((a,roc))
roc_list.sort()
print(roc_list[0])

0.9999028749028749
0.7867132867132867
0.7825737646135768
(0, 0.7791826002445552)

In [212]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

from sklearn.preprocessing import LabelEncoder, MinMaxScaler, StandardScaler
LE = LabelEncoder()
Scaler_m = MinMaxScaler()
Scaler_s = StandardScaler()

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(random_state=2022)
                        

train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/test.csv')
# print(train.columns)
# print(test.head(2))
# print(train.isnull().sum())
# print(test.isnull().sum())
X = train.drop(['ID','y'],axis=1)
y = train.y
X_test = test.drop('ID', axis=1)

obj = X.select_dtypes(include='object').columns #object타입 컬럼
num = X.select_dtypes(include='number').columns #수치형타입 컬럼

# print(X[num].describe())
# print(num)

for col in num:
    Scaler_m.fit(X[[col]])
    X[col] = Scaler_m.transform(X[[col]])
    X_test[col] =Scaler_m.transform(X_test[[col]])

# print(num)
# print(X_test.select_dtypes(include='number').columns)
# print(obj)
# print(X_test.select_dtypes(include='object').columns)
# print(X.info())

# for col in obj: #label인코딩과 원핫인코딩구분하기위해서 알아보기
#     print(X[col].unique())
    
obj_le=['default','housing','loan']
obj_oh= [x for x in obj if x not in obj_le]
# print(obj_oh)

# for col in obj_le:
#     LE.fit(X[col])
#     X[col] = LE.transform(X[col])
#     X_test[col] = LE.transform(X_test[col])
    

LE= {}

for col in obj_le:
    LE[col] = LabelEncoder()
    X[col] = LE[col].fit_transform(X[col])
for col in obj_le:
    X_test[col] = LE[col].transform(X_test[col])
    
X_dum = X[obj_oh]
X_test_dum = X_test[obj_oh]
X = X.drop(obj_oh,axis=1)
X_test =X_test.drop(obj_oh,axis=1)

X_dum = pd.get_dummies(X_dum)
X_test_dum = pd.get_dummies(X_test_dum)

X_dum, X_test_dum = X_dum.align(X_test_dum,join='inner',axis=1)

X_final = pd.concat([X,X_dum],axis=1)
X_test_final = pd.concat([X_test,X_test_dum],axis=1)
# print(X_final.head(2))

X_tr,X_val,y_tr,y_val = train_test_split(X_final,y,random_state=9,test_size=0.2)

rfc.fit(X_tr,y_tr)
pred_y_val = rfc.predict(X_val)
pred_proba_y_val = rfc.predict_proba(X_val)
print(rfc.score(X_tr,y_tr))
print(rfc.score(X_val,y_val))

from sklearn.metrics import roc_auc_score
print(roc_auc_score(y_val,pred_proba_y_val[:,1]))

0.9999028749028749
0.7855477855477856
0.778654634408111