데이터 설명 : 이직여부 판단 데이터 (target: 1: 이직 , 0 : 이직 x)

x_train:

[https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/X_train.csv](https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/X_train.csv)

y_train:

[https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/y_train.csv](https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/y_train.csv)

x_test:

[https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/X_test.csv](https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/X_test.csv)

x_label(평가용) :

[https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/y_test.csv](https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/y_test.csv)

데이터 출처 :

[https://www.kaggle.com/datasets/arashnic/hr-analytics-job-change-of-data-scientists](https://www.kaggle.com/datasets/arashnic/hr-analytics-job-change-of-data-scientists)

(참고, 데이터 수정)

In [1]:
import pandas as pd
import numpy as np
import warnings

#pd.set_option('max_rows',None)
pd.set_option('max_columns',None)
warnings.filterwarnings('ignore')

X_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/X_train.csv')
y_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/y_train.csv')
X_test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/X_test.csv')
y_test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/y_test.csv')

In [3]:
print(X_train)
print('_'*10)
print(y_train)

       enrollee_id      city  city_development_index  gender  \
0            25298  city_138                   0.836    Male
1             4241  city_160                   0.920    Male
2            24086   city_57                   0.866    Male
3            26773   city_16                   0.910    Male
4            32325  city_143                   0.740     NaN
...            ...       ...                     ...     ...
12447        29597   city_21                   0.624    Male
12448        27821  city_103                   0.920    Male
12449        21812  city_160                   0.920  Female
12450        28416  city_160                   0.920    Male
12451        31875  city_136                   0.897     NaN

           relevent_experience enrolled_university education_level  \
0       No relevent experience    Full time course     High School
1       No relevent experience    Full time course     High School
2       No relevent experience       no_enrollment        Graduate
3      Has relevent experience       no_enrollment        Graduate
4       No relevent experience    Full time course        Graduate
...                        ...                 ...             ...
12447  Has relevent experience       no_enrollment        Graduate
12448  Has relevent experience       no_enrollment        Graduate
12449  Has relevent experience       no_enrollment        Graduate
12450  Has relevent experience    Full time course        Graduate
12451   No relevent experience    Full time course        Graduate

      major_discipline experience company_size company_type last_new_job  \
0                  NaN          5      100-500      Pvt Ltd            1
1                  NaN          5          NaN          NaN            1
2                 STEM         10          NaN          NaN            1
3                 STEM        >20        50-99      Pvt Ltd           >4
4                 STEM          5          NaN          NaN        never
...                ...        ...          ...          ...          ...
12447             STEM         <1        50-99      Pvt Ltd            1
12448             STEM        >20       10000+      Pvt Ltd           >4
12449             STEM          6        50-99      Pvt Ltd            1
12450             STEM         10          NaN          NaN            2
12451             STEM          4          NaN          NaN            1

       training_hours
0                  45
1                  17
2                  50
3                 135
4                  17
...               ...
12447              55
12448               7
12449              36
12450              41
12451              13

[12452 rows x 13 columns]
__________
       enrollee_id  target
0            25298     0.0
1             4241     1.0
2            24086     0.0
3            26773     0.0
4            32325     1.0
...            ...     ...
12447        29597     1.0
12448        27821     0.0
12449        21812     0.0
12450        28416     0.0
12451        31875     0.0

[12452 rows x 2 columns]

In [4]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12452 entries, 0 to 12451
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             12452 non-null  int64
 1   city                    12452 non-null  object
 2   city_development_index  12452 non-null  float64
 3   gender                  9535 non-null   object
 4   relevent_experience     12452 non-null  object
 5   enrolled_university     12195 non-null  object
 6   education_level         12137 non-null  object
 7   major_discipline        10586 non-null  object
 8   experience              12415 non-null  object
 9   company_size            8600 non-null   object
 10  company_type            8471 non-null   object
 11  last_new_job            12179 non-null  object
 12  training_hours          12452 non-null  int64
dtypes: float64(1), int64(2), object(10)
memory usage: 1.2+ MB

In [6]:
print(y_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12452 entries, 0 to 12451
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   enrollee_id  12452 non-null  int64
 1   target       12452 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 194.7 KB
None

In [7]:
df = pd.merge(y_train, X_train, on='enrollee_id')
print(df)

       enrollee_id  target      city  city_development_index  gender  \
0            25298     0.0  city_138                   0.836    Male
1             4241     1.0  city_160                   0.920    Male
2            24086     0.0   city_57                   0.866    Male
3            26773     0.0   city_16                   0.910    Male
4            32325     1.0  city_143                   0.740     NaN
...            ...     ...       ...                     ...     ...
12447        29597     1.0   city_21                   0.624    Male
12448        27821     0.0  city_103                   0.920    Male
12449        21812     0.0  city_160                   0.920  Female
12450        28416     0.0  city_160                   0.920    Male
12451        31875     0.0  city_136                   0.897     NaN

           relevent_experience enrolled_university education_level  \
0       No relevent experience    Full time course     High School
1       No relevent experience    Full time course     High School
2       No relevent experience       no_enrollment        Graduate
3      Has relevent experience       no_enrollment        Graduate
4       No relevent experience    Full time course        Graduate
...                        ...                 ...             ...
12447  Has relevent experience       no_enrollment        Graduate
12448  Has relevent experience       no_enrollment        Graduate
12449  Has relevent experience       no_enrollment        Graduate
12450  Has relevent experience    Full time course        Graduate
12451   No relevent experience    Full time course        Graduate

      major_discipline experience company_size company_type last_new_job  \
0                  NaN          5      100-500      Pvt Ltd            1
1                  NaN          5          NaN          NaN            1
2                 STEM         10          NaN          NaN            1
3                 STEM        >20        50-99      Pvt Ltd           >4
4                 STEM          5          NaN          NaN        never
...                ...        ...          ...          ...          ...
12447             STEM         <1        50-99      Pvt Ltd            1
12448             STEM        >20       10000+      Pvt Ltd           >4
12449             STEM          6        50-99      Pvt Ltd            1
12450             STEM         10          NaN          NaN            2
12451             STEM          4          NaN          NaN            1

       training_hours
0                  45
1                  17
2                  50
3                 135
4                  17
...               ...
12447              55
12448               7
12449              36
12450              41
12451              13

[12452 rows x 14 columns]

In [8]:
X_train.describe()

        enrollee_id  city_development_index  training_hours
count  12452.000000            12452.000000    12452.000000
mean   16966.301076                0.829709       65.604481
std     9646.223269                0.123087       60.430340
min        1.000000                0.448000        1.000000
25%     8591.500000                0.740000       23.000000
50%    17177.500000                0.910000       47.000000
75%    25327.750000                0.920000       88.000000
max    33380.000000                0.949000      336.000000