# 이직여부 판단

데이터 설명 : 이직여부 판단 데이터 (target: 1: 이직 , 0 : 이직 x)

x_train:
[https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/X_train.csv](https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/X_train.csv)

y_train:
[https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/y_train.csv](https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/y_train.csv)

x_test:
[https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/X_test.csv](https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/X_test.csv)

x_label(평가용) :
[https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/y_test.csv](https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/y_test.csv)

데이터 출처 :
[https://www.kaggle.com/datasets/arashnic/hr-analytics-job-change-of-data-scientists](https://www.kaggle.com/datasets/arashnic/hr-analytics-job-change-of-data-scientists)
(참고, 데이터 수정)

## 데이터 불러오기

In [153]:
import pandas as pd 
import numpy as np
import warnings

warnings.filterwarnings('ignore')
pd.set_option('max_rows',None)
pd.set_option('max_columns',None)

X_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/X_train.csv')
y_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/y_train.csv')
X_test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/X_test.csv')

In [154]:
display(X_train.head())
display(y_train.head())

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,25298,city_138,0.836,Male,No relevent experience,Full time course,High School,NaN,5,100-500,Pvt Ltd,1,45
1,4241,city_160,0.920,Male,No relevent experience,Full time course,High School,NaN,5,NaN,NaN,1,17
2,24086,city_57,0.866,Male,No relevent experience,no_enrollment,Graduate,STEM,10,NaN,NaN,1,50
3,26773,city_16,0.910,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,>4,135
4,32325,city_143,0.740,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,17

   enrollee_id  target
0        25298     0.0
1         4241     1.0
2        24086     0.0
3        26773     0.0
4        32325     1.0

In [155]:
print(X_train.isnull().sum())
print(y_train.isnull().sum())

enrollee_id                  0
city                         0
city_development_index       0
gender                    2917
relevent_experience          0
enrolled_university        257
education_level            315
major_discipline          1866
experience                  37
company_size              3852
company_type              3981
last_new_job               273
training_hours               0
dtype: int64
enrollee_id    0
target         0
dtype: int64

## 공통 column으로 data 합친 후 전처리 
df와 함께 예측할 x_test도 같이 전처리!!

In [156]:
df = pd.merge(X_train,y_train, on='enrollee_id')
display(df.head(2))

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,25298,city_138,0.836,Male,No relevent experience,Full time course,High School,NaN,5,100-500,Pvt Ltd,1,45,0.0
1,4241,city_160,0.920,Male,No relevent experience,Full time course,High School,NaN,5,NaN,NaN,1,17,1.0

In [157]:
print(df.info())
print('_'*50)
print(df.isnull().sum())
print('_'*50)
print(X_test.info())
print('_'*50)
print(X_test.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12452 entries, 0 to 12451
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             12452 non-null  int64
 1   city                    12452 non-null  object
 2   city_development_index  12452 non-null  float64
 3   gender                  9535 non-null   object
 4   relevent_experience     12452 non-null  object
 5   enrolled_university     12195 non-null  object
 6   education_level         12137 non-null  object
 7   major_discipline        10586 non-null  object
 8   experience              12415 non-null  object
 9   company_size            8600 non-null   object
 10  company_type            8471 non-null   object
 11  last_new_job            12179 non-null  object
 12  training_hours          12452 non-null  int64
 13  target                  12452 non-null  float64
dtypes: float64(2), int64(2), object(10)
memory usage: 1.4+ MB
None
__________________________________________________
enrollee_id                  0
city                         0
city_development_index       0
gender                    2917
relevent_experience          0
enrolled_university        257
education_level            315
major_discipline          1866
experience                  37
company_size              3852
company_type              3981
last_new_job               273
training_hours               0
target                       0
dtype: int64
__________________________________________________
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6706 entries, 0 to 6705
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             6706 non-null   int64
 1   city                    6706 non-null   object
 2   city_development_index  6706 non-null   float64
 3   gender                  5115 non-null   object
 4   relevent_experience     6706 non-null   object
 5   enrolled_university     6577 non-null   object
 6   education_level         6561 non-null   object
 7   major_discipline        5759 non-null   object
 8   experience              6678 non-null   object
 9   company_size            4620 non-null   object
 10  company_type            4547 non-null   object
 11  last_new_job            6556 non-null   object
 12  training_hours          6706 non-null   int64
dtypes: float64(1), int64(2), object(10)
memory usage: 681.2+ KB
None
__________________________________________________
enrollee_id                  0
city                         0
city_development_index       0
gender                    1591
relevent_experience          0
enrolled_university        129
education_level            145
major_discipline           947
experience                  28
company_size              2086
company_type              2159
last_new_job               150
training_hours               0
dtype: int64

In [158]:
print(len(pd.unique(df.gender)))
print(pd.unique(df.gender))
print('_'*50)
print(len(pd.unique(df.enrolled_university)))
print(pd.unique(df.enrolled_university))
print('_'*50)
print(len(pd.unique(df.education_level)))
print(pd.unique(df.education_level))
print('_'*50)
print(len(pd.unique(df.major_discipline)))
print(pd.unique(df.major_discipline))
print('_'*50)
print(len(pd.unique(df.experience)))
print(pd.unique(df.experience))
print('_'*50)
print(len(pd.unique(df.company_size)))
print(pd.unique(df.company_size))
print('_'*50)
print(len(pd.unique(df.company_type)))
print(pd.unique(df.company_type))
print('_'*50)
print(len(pd.unique(df.last_new_job)))
print(pd.unique(df.last_new_job))

4
['Male' nan 'Female' 'Other']
__________________________________________________
4
['Full time course' 'no_enrollment' 'Part time course' nan]
__________________________________________________
6
['High School' 'Graduate' 'Primary School' 'Masters' 'Phd' nan]
__________________________________________________
7
[nan 'STEM' 'Other' 'Humanities' 'No Major' 'Business Degree' 'Arts']
__________________________________________________
23
['5' '10' '>20' '6' '14' '20' '7' '9' '8' '4' '3' '13' '16' '2' '12' '15'
 '11' '1' '<1' '17' '18' nan '19']
__________________________________________________
9
['100-500' nan '50-99' '10/49' '10000+' '1000-4999' '<10' '500-999'
 '5000-9999']
__________________________________________________
7
['Pvt Ltd' nan 'Public Sector' 'NGO' 'Funded Startup'
 'Early Stage Startup' 'Other']
__________________________________________________
7
['1' '>4' 'never' '2' '4' '3' nan]

## 필요없는 컬럼 버리고 X,y로 나눈 후 X만 전처리 (y는 1,0 이직여부)

In [159]:
df_dr =df.drop('enrollee_id',axis=1)
X_test_dr=X_test.drop('enrollee_id',axis=1)

X = df_dr.drop('target', axis=1)
y = df.target

    gender 'Other'
    enrolled_university 'no_enrollment'
    education_level 'Middle School'
    major_discipline 반은 'Other', 반은 'No Major'로 변경
    experience 0
    company_size 1
    company_type 'Other'
    last_new_job 'never' 
    로 null값 대체

In [160]:
print(X_test_dr['major_discipline'].isnull().sum())
print(X_test_dr.isnull().sum())

947
city                         0
city_development_index       0
gender                    1591
relevent_experience          0
enrolled_university        129
education_level            145
major_discipline           947
experience                  28
company_size              2086
company_type              2159
last_new_job               150
training_hours               0
dtype: int64

In [161]:
dic = {'gender':'Other', 'enrolled_university':'no_enrollment', 'education_level':'Middle School', 'experience':'0' ,
       'company_size':'1', 'company_type':'Other' , 'last_new_job':'never'}

X.fillna(value=dic,inplace=True)
X_test_dr.fillna(value=dic,inplace=True)

In [162]:
int(X.major_discipline.isnull().sum()/2)

933

In [163]:
X.iloc[:int(X.major_discipline.isnull().sum()/2)].fillna('Other',inplace=True)
X.iloc[int(X.major_discipline.isnull().sum()/2):].fillna('No Major',inplace=True)
X_test_dr.iloc[:int(X_test_dr.major_discipline.isnull().sum()/2)].fillna('Other',inplace=True)
X_test_dr.iloc[int(X_test_dr.major_discipline.isnull().sum()/2):].fillna('No Major',inplace=True)

### 수치형 스케일링

In [164]:
num = X.select_dtypes(include='number').columns
print(num)

Index(['city_development_index', 'training_hours'], dtype='object')

In [96]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
scaler_m = MinMaxScaler()
scaler_s = StandardScaler()

In [169]:
# number column만 스케일링
def Scaler_m(df):
    num = df.select_dtypes(include='number')
    for col in num:
        df[col]=scaler_m.fit_transform(df[[col]])
    return df
    

def Scaler_s(df):
    num = df.select_dtypes(include='number')
    for col in num:
        df[col]=scaler_s.fit_transform(df[[col]])
    return df

In [170]:
X_m = Scaler_m(X)
X_test_dr_m = Scaler_m(X_test_dr)

X_s = Scaler_s(X)
X_test_dr_s = Scaler_s(X_test_dr)

In [183]:
#범주화 한것까지 스케일링

# X_m = scaler_m.fit_transform(X)
# X_test_dr_m =scaler_m.fit_transform(X_test_dr)

# X_s =scaler_s.fit_transform(X)
# X_test_dr_s = scaler_s.fit_transform(X_test_dr)

In [121]:
df1 = pd.concat([X,y],axis=1)
df1.corr()

,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
city,1.000000,-0.318380,0.044775,0.010065,-0.081720,0.003636,0.071570,-0.040260,-0.017939,-0.023327,-0.007265,0.014225,0.058645
city_development_index,-0.318380,1.000000,-0.132856,-0.057590,0.160376,0.058924,-0.099141,0.039104,0.067947,0.050543,0.001896,-0.003967,-0.352236
gender,0.044775,-0.132856,1.000000,0.092372,-0.095237,0.037602,-0.001013,-0.011938,-0.039394,-0.018946,0.059813,-0.003222,0.068092
relevent_experience,0.010065,-0.057590,0.092372,1.000000,-0.377944,0.113741,-0.204900,-0.015077,-0.314877,-0.164010,0.189610,-0.007309,0.123683
enrolled_university,-0.081720,0.160376,-0.095237,-0.377944,1.000000,0.072341,0.024544,0.023505,0.179592,0.122945,-0.024984,-0.000155,-0.147039
education_level,0.003636,0.058924,0.037602,0.113741,0.072341,1.000000,-0.169965,0.028938,-0.065460,-0.040962,0.112825,-0.009447,-0.084597
major_discipline,0.071570,-0.099141,-0.001013,-0.204900,0.024544,-0.169965,1.000000,0.003038,0.121415,0.081757,-0.096472,0.001701,0.040794
experience,-0.040260,0.039104,-0.011938,-0.015077,0.023505,0.028938,0.003038,1.000000,-0.029288,-0.010423,0.067710,-0.001713,-0.020120
company_size,-0.017939,0.067947,-0.039394,-0.314877,0.179592,-0.065460,0.121415,-0.029288,1.000000,0.220131,-0.142242,0.005869,-0.193049
company_type,-0.023327,0.050543,-0.018946,-0.164010,0.122945,-0.040962,0.081757,-0.010423,0.220131,1.000000,0.038820,-0.011913,-0.101353
last_new_job,-0.007265,0.001896,0.059813,0.189610,-0.024984,0.112825,-0.096472,0.067710,-0.142242,0.038820,1.000000,-0.014039,-0.006355
training_hours,0.014225,-0.003967,-0.003222,-0.007309,-0.000155,-0.009447,0.001701,-0.001713,0.005869,-0.011913,-0.014039,1.000000,-0.013660
target,0.058645,-0.352236,0.068092,0.123683,-0.147039,-0.084597,0.040794,-0.020120,-0.193049,-0.101353,-0.006355,-0.013660,1.000000

In [90]:
print(X.isnull().sum())
print(X_test_dr.isnull().sum())

city                      0
city_development_index    0
gender                    0
relevent_experience       0
enrolled_university       0
education_level           0
major_discipline          0
experience                0
company_size              0
company_type              0
last_new_job              0
training_hours            0
dtype: int64
city                      0
city_development_index    0
gender                    0
relevent_experience       0
enrolled_university       0
education_level           0
major_discipline          0
experience                0
company_size              0
company_type              0
last_new_job              0
training_hours            0
dtype: int64

### object type 라벨링

In [171]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

obj = X.select_dtypes(include='object').columns
for col in obj:
    X[col] = le.fit_transform(X[col])

obj_test = X_test_dr.select_dtypes(include='object').columns
for col in obj_test:
    X_test_dr[col] = le.fit_transform(X_test_dr[col])

In [172]:
print(X.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12452 entries, 0 to 12451
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   city                    12452 non-null  int32
 1   city_development_index  12452 non-null  float64
 2   gender                  12452 non-null  int32
 3   relevent_experience     12452 non-null  int32
 4   enrolled_university     12452 non-null  int32
 5   education_level         12452 non-null  int32
 6   major_discipline        12452 non-null  int32
 7   experience              12452 non-null  int32
 8   company_size            12452 non-null  int32
 9   company_type            12452 non-null  int32
 10  last_new_job            12452 non-null  int32
 11  training_hours          12452 non-null  float64
dtypes: float64(2), int32(10)
memory usage: 778.2 KB
None

In [94]:
print(X_test_dr.head())

   city  city_development_index  gender  relevent_experience  \
0    62                   0.899       1                    1
1    77                   0.725       1                    1
2     5                   0.920       1                    1
3    81                   0.896       1                    1
4    39                   0.689       0                    0

   enrolled_university  education_level  major_discipline  experience  \
0                    2                0                 5          12
1                    1                2                 5          16
2                    0                0                 5          18
3                    0                0                 5          18
4                    0                2                 5          11

   company_size  company_type  last_new_job  training_hours
0             0             3             0              23
1             0             3             5              39
2             0             3             1             262
3             0             3             5              78
4             5             5             0             125

In [95]:
print(X.head())

   city  city_development_index  gender  relevent_experience  \
0    31                   0.836       1                    1
1    49                   0.920       1                    1
2    88                   0.866       1                    1
3    48                   0.910       1                    0
4    37                   0.740       2                    1

   enrolled_university  education_level  major_discipline  experience  \
0                    0                1                 4          16
1                    0                1                 4          16
2                    2                0                 5           2
3                    2                0                 5          22
4                    0                0                 5          16

   company_size  company_type  last_new_job  training_hours
0             2             5             0              45
1             0             3             0              17
2             0             3             0              50
3             5             5             4             135
4             0             3             5              17

## train,valid 나누고 모델 설정 후 학습

In [188]:
from sklearn.model_selection import train_test_split
X_tr_m, X_val_m, y_tr_m, y_val_m = train_test_split(X_m , y, random_state=51, test_size=0.2)
X_tr_s, X_val_s, y_tr_s, y_val_s = train_test_split(X_s , y, random_state=51, test_size=0.2)

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
lr = LogisticRegression()
rfc= RandomForestClassifier()

lr.fit(X_tr_m,y_tr_m)
lr_pred_m = lr.predict_proba(X_val_m)
lr.fit(X_tr_s,y_tr_s)
lr_pred_s = lr.predict_proba(X_val_s)

rfc.fit(X_tr_m,y_tr_m)
rfc_pred_m = rfc.predict_proba(X_val_m)
rfc.fit(X_tr_s,y_tr_s)
rfc_pred_s = rfc.predict_proba(X_val_s)

In [189]:
print('로지스틱회귀_minmax스케일링:',lr.score(X_tr_m,y_tr_m))
print('로지스틱회귀_standard스케일링:',lr.score(X_tr_s,y_tr_s))
print('랜덤포레스트분류_minmax스케일링:',rfc.score(X_tr_m,y_tr_m))
print('랜덤포레스트분류_standard스케일링:',rfc.score(X_tr_s,y_tr_s))

로지스틱회귀_minmax스케일링: 0.7696014456379882
로지스틱회귀_standard스케일링: 0.7696014456379882
랜덤포레스트분류_minmax스케일링: 0.9989960847304488
랜덤포레스트분류_standard스케일링: 0.9989960847304488

In [190]:
print('로지스틱회귀_minmax스케일링:',lr.score(X_val_m,y_val_m))
print('로지스틱회귀_standard스케일링:',lr.score(X_val_s,y_val_s))
print('랜덤포레스트분류_minmax스케일링:',rfc.score(X_val_m,y_val_m))
print('랜덤포레스트분류_standard스케일링:',rfc.score(X_val_s,y_val_s))

로지스틱회귀_minmax스케일링: 0.779205138498595
로지스틱회귀_standard스케일링: 0.779205138498595
랜덤포레스트분류_minmax스케일링: 0.809313528703332
랜덤포레스트분류_standard스케일링: 0.809313528703332

## 검증

In [192]:
from sklearn.metrics import roc_auc_score
print('로지스틱회귀_minmax스케일링:',roc_auc_score(y_val_m,lr_pred_m[:,1]))
print('로지스틱회귀_standard스케일링:',roc_auc_score(y_val_s,lr_pred_s[:,1]))
print('랜덤포레스트분류_minmax스케일링:',roc_auc_score(y_val_m,rfc_pred_m[:,1]))
print('랜덤포레스트분류_standard스케일링:',roc_auc_score(y_val_s,rfc_pred_s[:,1]))

로지스틱회귀_minmax스케일링: 0.7838182448945776
로지스틱회귀_standard스케일링: 0.7838182448945776
랜덤포레스트분류_minmax스케일링: 0.8100133072366513
랜덤포레스트분류_standard스케일링: 0.8138816398105573

로지스틱회귀와 랜덤포레스트분류기 앙상블

In [193]:
pred_m_e = (lr_pred_m + rfc_pred_m)/2
pred_s_e = (lr_pred_s + rfc_pred_s)/2
print('로지스틱회귀+랜덤포레스트앙상블_minmax스케일링:',roc_auc_score(y_val_m,pred_m_e[:,1]))
print('로지스틱회귀+랜덤포레스트앙상블_standard스케일링:',roc_auc_score(y_val_s,pred_s_e[:,1]))

로지스틱회귀+랜덤포레스트앙상블_minmax스케일링: 0.8123942842743328
로지스틱회귀+랜덤포레스트앙상블_standard스케일링: 0.8146207869047126

_

predict_proba 확률로 예측하는 건지, predict 값 자체로 예측하는건지 헷갈린다.

## 최적의 파라미터 찾은 후 다시 모델학습, 검증과정 거쳐보기

train_test_split에서 random_state나, model 학습시킬때 하이퍼파라미터들

## 예측값 pred

In [194]:
pred_m_lr = lr.predict_proba(X_test_dr_m)
pred_m_rfc = rfc.predict_proba(X_test_dr_m)
pred_s_lr = lr.predict_proba(X_test_dr_s)
pred_s_rfc = rfc.predict_proba(X_test_dr_s)

In [195]:
pred_m_e = (pred_m_lr + pred_m_rfc)/2
pred_s_e = (pred_s_lr + pred_s_rfc)/2

In [197]:
x_label = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/y_test.csv')

print("로지스틱회귀_minmax스케일링", roc_auc_score(x_label.target,pred_m_lr[:,1]))
print("로지스틱회귀_standard스케일링", roc_auc_score(x_label.target,pred_s_lr[:,1]))
print("랜덤포레스트분류_minmax스케일링", roc_auc_score(x_label.target,pred_m_rfc[:,1]))
print("랜덤포레스트분류_standard스케일링", roc_auc_score(x_label.target,pred_s_rfc[:,1]))

로지스틱회귀_minmax스케일링 0.7552166796881683
로지스틱회귀_standard스케일링 0.7552166796881683
랜덤포레스트분류_minmax스케일링 0.7824145689692864
랜덤포레스트분류_standard스케일링 0.7824145689692864

In [196]:
print('로지스틱회귀+랜덤포레스트앙상블_minmax스케일링:',roc_auc_score(x_label.target,pred_m_e[:,1]))
print('로지스틱회귀+랜덤포레스트앙상블_standard스케일링:',roc_auc_score(x_label.target,pred_s_e[:,1]))

로지스틱회귀+랜덤포레스트앙상블_minmax스케일링: 0.7836664033852103
로지스틱회귀+랜덤포레스트앙상블_standard스케일링: 0.7836664033852103

80퍼센트가 안넘는다 .. ㅠㅠ

## 제출용 만들기

In [199]:
submission = pd.DataFrame({'enrollee_id':X_test.enrollee_id,'pred_target':pred_s_e[:,1]}) 
submission.to_csv('004001677.csv',index=False)
check = pd.read_csv('004001677.csv')
print(check.head())

   enrollee_id  pred_target
0         7129     0.395109
1        31037     0.514461
2        22179     0.368554
3        29724     0.415360
4        17977     0.205461