# 목록 및 데이터 불러오기

Data url :[https://raw.githubusercontent.com/Datamanim/datarepo/main/nba/nba.csv](https://raw.githubusercontent.com/Datamanim/datarepo/main/nba/nba.csv)

Question **Tm 컬럼은 각 팀의 이름을 의미한다. TOR팀의 평균나이를 소수 4째 자리까지 구하여라**

Question **Pos 컬럼은 포지션을 의미한다. 전체 선수 중 최소나이대의 선수들을 필터하고 그들 중 가장 많은 포지션은 무엇인지 확인하라**

<font color=red>Question **선수들의 이름은 first_name+ 공백 + last_name으로 이루어져 있다. 가장 많은 first_name은 무엇이며 몇 회 발생하는지 확인하라**

Question **PTS컬럼은 경기당 평균득점수 이다. 각포지션별로 경기당 평균득점수의 평균을 구하여라**

Question **G컬럼은 참여한 경기의 숫자이다. 각 팀별로 가장 높은 경기참여 수를 가진 선수들의 경기 참여 숫자의 평균을 구하여라**

Question **Tm의 값이 MIA이며 Pos는 C또는 PF인 선수의 MP값의 평균은?**

Question **전체 데이터중 G의 평균값의 1.5배 이상인 데이터들만 추출했을때 3P값의 평균은?**

Question **Age의 평균 이상인 그룹과 평균 미만인 그룹간의 G값의 평균의 차이는?**

Question **평균나이가 가장 젊은 팀은 어디인가**

Question **Pos그룹별 평균 MP값을 구하여라**

In [33]:
import pandas as pd
pd.set_option('display.max_columns',30)
pd.set_option('display.width',  1000)
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/nba/nba.csv",encoding="L1", sep=';')
df.head(3)

   Rk            Player Pos  Age   Tm   G  GS    MP   FG   FGA    FG%   3P  3PA    3P%   2P   2PA    2P%   eFG%   FT  FTA    FT%  ORB  DRB   TRB  AST  STL  BLK  TOV   PF   PTS
0   1  Precious Achiuwa   C   22  TOR  73  28  23.6  3.6   8.3  0.439  0.8  2.1  0.359  2.9   6.1  0.468  0.486  1.1  1.8  0.595  2.0  4.5   6.5  1.1  0.5  0.6  1.2  2.1   9.1
1   2      Steven Adams   C   28  MEM  76  75  26.3  2.8   5.1  0.547  0.0  0.0  0.000  2.8   5.0  0.548  0.547  1.4  2.6  0.543  4.6  5.4  10.0  3.4  0.9  0.8  1.5  2.0   6.9
2   3       Bam Adebayo   C   24  MIA  56  56  32.6  7.3  13.0  0.557  0.0  0.1  0.000  7.3  12.9  0.562  0.557  4.6  6.1  0.753  2.4  7.6  10.1  3.4  1.4  0.8  2.6  3.1  19.1

from IPython.core.display import display, HTML
**전체 구간을 넓게**
display(HTML("<style>.container { width:100% !important; }</style>")) 

**각 컬럼 width 최대로**
pd.set_option('display.max_colwidth', -1)

**rows 500**
pd.set_option('display.max_rows', 500)

**columns**
pd.set_option('display.max_columns', 500)

pd.set_option('display.width', 1000)

# Question **Tm 컬럼은 각 팀의 이름을 의미한다. TOR팀의 평균나이를 소수 4째 자리까지 구하여라**

In [10]:
answer = df[df.Tm=="TOR"].Age.mean()
print(round(answer,4))

24.8696

In [87]:
# 답
result = round(df[df.Tm =='TOR'].Age.mean(),4)
print(result)

24.8696

# Question **Pos 컬럼은 포지션을 의미한다. 전체 선수 중 최소나이대의 선수들을 필터하고 그들 중 가장 많은 포지션은 무엇인지 확인하라**

In [30]:
answer= df[df.Age==df.Age.min()].Pos.value_counts().index[0]
answer

'SG'

In [88]:
# 답
result = df[df.Age==df.Age.min()].Pos.value_counts().index[0]
print(result)

SG

# Question **선수들의 이름은 first_name+ 공백 + last_name으로 이루어져 있다. 가장 많은 first_name은 무엇이며 몇 회 발생하는지 확인하라**

In [100]:
df.Player

0       Precious Achiuwa
1           Steven Adams
2            Bam Adebayo
3           Santi Aldama
4      LaMarcus Aldridge
             ...
807       Thaddeus Young
808           Trae Young
809       Omer Yurtseven
810          Cody Zeller
811          Ivica Zubac
Name: Player, Length: 812, dtype: object

In [103]:
len(df.Player)

812

In [105]:
df.Player[3].split()[0]

'Santi'

In [130]:
df['first_name']= df.Player.str.split().str[0]
df.head(3)

   Rk            Player Pos  Age   Tm   G  GS    MP   FG   FGA    FG%   3P  3PA    3P%   2P  ...    2P%   eFG%   FT  FTA    FT%  ORB  DRB   TRB  AST  STL  BLK  TOV   PF   PTS  first_name
0   1  Precious Achiuwa   C   22  TOR  73  28  23.6  3.6   8.3  0.439  0.8  2.1  0.359  2.9  ...  0.468  0.486  1.1  1.8  0.595  2.0  4.5   6.5  1.1  0.5  0.6  1.2  2.1   9.1    Precious
1   2      Steven Adams   C   28  MEM  76  75  26.3  2.8   5.1  0.547  0.0  0.0  0.000  2.8  ...  0.548  0.547  1.4  2.6  0.543  4.6  5.4  10.0  3.4  0.9  0.8  1.5  2.0   6.9      Steven
2   3       Bam Adebayo   C   24  MIA  56  56  32.6  7.3  13.0  0.557  0.0  0.1  0.000  7.3  ...  0.562  0.557  4.6  6.1  0.753  2.4  7.6  10.1  3.4  1.4  0.8  2.6  3.1  19.1         Bam

[3 rows x 31 columns]

In [133]:
answer = df.first_name.value_counts().head(1)
answer

Justin    14
Name: first_name, dtype: int64

In [114]:
# 답
result= df['Player'].str.split().str[0].str.lower().value_counts().head(1)
print(result)

justin    14
Name: Player, dtype: int64

# Question **PTS컬럼은 경기당 평균득점수 이다. 각포지션별로 경기당 평균득점수의 평균을 구하여라**

In [75]:
answer = df.groupby('Pos').PTS.mean()
answer

Pos
C         7.690769
C-PF     12.850000
PF        7.737500
PF-SF     8.500000
PG        8.325161
PG-SG    22.000000
SF        7.270253
SF-SG     8.660000
SG        7.810553
SG-PG     9.525000
SG-SF     7.360000
Name: PTS, dtype: float64

In [89]:
result = df.groupby('Pos')['PTS'].mean().sort_values()
print(result)

Pos
SF        7.270253
SG-SF     7.360000
C         7.690769
PF        7.737500
SG        7.810553
PG        8.325161
PF-SF     8.500000
SF-SG     8.660000
SG-PG     9.525000
C-PF     12.850000
PG-SG    22.000000
Name: PTS, dtype: float64

# Question **G컬럼은 참여한 경기의 숫자이다. 각 팀별로 가장 높은 경기참여 수를 가진 선수들의 경기 참여 숫자의 평균을 구하여라**

In [86]:
answer = df.groupby('Tm').G.max().mean()
answer

77.51612903225806

In [91]:
# 답 (내가 낫다)
result = df.sort_values(['Tm','G']).groupby('Tm').tail(1).G.mean()
print(result)

77.51612903225806

# Question **Tm의 값이 MIA이며 Pos는 C또는 PF인 선수의 MP값의 평균은?**

In [84]:
answer = df[(df.Tm=="MIA") & ((df.Pos =='C')|(df.Pos=='PF'))].MP.mean()
answer

16.7875

In [92]:
# 답 (isin이 훨씬 편하겠다! 이게낫다
result = df[(df.Tm =='MIA') & (df.Pos.isin(['C','PF']))].MP.mean()
print(result)

16.7875

# Question **전체 데이터중 G의 평균값의 1.5배 이상인 데이터들만 추출했을때 3P값의 평균은?**

In [76]:
target = df[df.G >= 1.5*(df.G.mean())]['3P']
answer = target.mean()
answer

1.3853658536585365

In [94]:
# 답
result =  df[df.G >= df.G.mean()*1.5]['3P'].mean()
print(result)

1.3853658536585365

# Question **Age의 평균 이상인 그룹과 평균 미만인 그룹간의 G값의 평균의 차이는?**

In [77]:
answer = df[df.Age >= df.Age.mean()].G.mean() - df[df.Age < df.Age.mean()].G.mean()
answer

3.787674551781862

In [95]:
#답
result = df[df.Age >= df.Age.mean()].G.mean() - df[df.Age < df.Age.mean()].G.mean()
print(result)

3.787674551781862

# Question **평균나이가 가장 젊은 팀은 어디인가**

In [80]:
answer = df.groupby('Tm').Age.mean().sort_values().index[0]
answer

'MEM'

In [96]:
# 답
result = df.groupby('Tm')['Age'].mean().sort_values().index[0]
print(result)

MEM

# Question Pos그룹별 평균 MP값을 구하여라

In [81]:
answer = df.groupby('Pos').MP.mean()
answer

Pos
C        16.990000
C-PF     25.350000
PF       17.937500
PF-SF    27.300000
PG       19.547742
PG-SG    37.200000
SF       17.514557
SF-SG    20.340000
SG       18.554271
SG-PG    22.950000
SG-SF    19.620000
Name: MP, dtype: float64

In [97]:
# 답
result = df.groupby('Pos')['MP'].mean()
print(result)

Pos
C        16.990000
C-PF     25.350000
PF       17.937500
PF-SF    27.300000
PG       19.547742
PG-SG    37.200000
SF       17.514557
SF-SG    20.340000
SG       18.554271
SG-PG    22.950000
SG-SF    19.620000
Name: MP, dtype: float64