# 목록 및 데이터 불러오기

데이터 설명 : 대한민국 국민 체력장 평가data url = [https://raw.githubusercontent.com/Datamanim/datarepo/main/body/body.csv](https://raw.githubusercontent.com/Datamanim/datarepo/main/body/body.csv)

<font color=red> 컬럼명에서 :을 _으로 교환하는거 숙지하기

Question **전체데이터의 수축기혈압(최고) - 이완기혈압(최저)의 평균을 구하여라**

Question **50~59세의 신장평균을 구하여라**

Question **연령대 (20~29 : 20대 …) 별 인원수를 구하여라**

Question **연령대 (20~29 : 20대 …) 별 등급의 숫자를 데이터 프레임으로 표현하라**

Question **남성 중 A등급과 D등급의 체지방률 평균의 차이(큰 값에서 작은 값의 차)를 구하여라**

Question **여성 중 A등급과 D등급의 체중의 평균의 차이(큰 값에서 작은 값의 차)를 구하여라**

Question **bmi는 자신의 몸무게(kg)를 키의 제곱(m)으로 나눈값이다. 데이터의 bmi 를 구한 새로운 컬럼을 만들고 남성의 bmi 평균을 구하여라**

Question **bmi보다 체지방율이 높은 사람들의 체중평균을 구하여라**

Question **남성과 여성의 악력 평균의 차이를 구하여라**

Question **남성과 여성의 교차윗몸일으키기 횟수의 평균의 차이를 구하여라**

In [2]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/body/body.csv")
df.head(3)

,측정나이,측정회원성별,신장 : cm,체중 : kg,체지방율 : %,이완기혈압(최저) : mmHg,수축기혈압(최고) : mmHg,악력D : kg,앉아윗몸앞으로굽히기 : cm,교차윗몸일으키기 : 회,제자리 멀리뛰기 : cm,등급
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C
1,40.0,F,161.4,45.8,21.7,62.0,119.0,22.1,16.0,32.0,165.0,B
2,27.0,M,176.6,84.8,19.2,87.0,153.0,45.9,13.2,61.0,216.0,B

# Question **전체데이터의 수축기혈압(최고) - 이완기혈압(최저)의 평균을 구하여라**

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13396 entries, 0 to 13395
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   측정나이              13396 non-null  float64
 1   측정회원성별            13396 non-null  object
 2   신장 : cm           13396 non-null  float64
 3   체중 : kg           13396 non-null  float64
 4   체지방율 : %          13396 non-null  float64
 5   이완기혈압(최저) : mmHg  13396 non-null  float64
 6   수축기혈압(최고) : mmHg  13396 non-null  float64
 7   악력D : kg          13396 non-null  float64
 8   앉아윗몸앞으로굽히기 : cm   13396 non-null  float64
 9   교차윗몸일으키기 : 회      13396 non-null  float64
 10  제자리 멀리뛰기 : cm     13396 non-null  float64
 11  등급                13396 non-null  object
dtypes: float64(10), object(2)
memory usage: 1.2+ MB

In [6]:
answer = (df['수축기혈압(최고) : mmHg']-df['이완기혈압(최저) : mmHg']).mean()
answer

52.19539414750672

In [61]:
#답
result  = (df['수축기혈압(최고) : mmHg'] - df['이완기혈압(최저) : mmHg']).mean()
print(result)

52.19539414750672

# Question **50~59세의 신장평균을 구하여라**

In [63]:
df['연령대'] = (df['측정나이']//10)*10
df['연령대']= df['연령대'].astype("object")
df

,측정나이,측정회원성별,신장 : cm,체중 : kg,체지방율 : %,이완기혈압(최저) : mmHg,수축기혈압(최고) : mmHg,악력D : kg,앉아윗몸앞으로굽히기 : cm,교차윗몸일으키기 : 회,제자리 멀리뛰기 : cm,등급,bmi,연령대
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C,23.053061,50.0
1,40.0,F,161.4,45.8,21.7,62.0,119.0,22.1,16.0,32.0,165.0,B,17.581601,40.0
2,27.0,M,176.6,84.8,19.2,87.0,153.0,45.9,13.2,61.0,216.0,B,27.190328,20.0
3,38.0,M,167.6,76.7,24.7,63.0,132.0,43.6,16.0,45.0,231.0,A,27.305324,30.0
4,21.0,M,165.2,66.2,21.5,83.0,106.0,33.5,10.6,46.0,198.0,C,24.257046,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13391,61.0,M,167.0,65.8,22.2,71.0,130.0,33.7,14.5,37.0,182.0,C,23.593531,60.0
13392,25.0,M,170.7,64.2,22.4,57.0,121.0,32.5,11.8,48.0,196.0,C,22.032713,20.0
13393,47.0,M,166.2,77.5,22.8,84.0,133.0,52.4,11.9,45.0,220.0,B,28.056899,40.0
13394,29.0,M,175.4,74.4,16.1,77.0,124.0,58.4,23.5,48.0,245.0,B,24.183199,20.0
13395,28.0,M,173.8,78.5,17.3,88.0,119.0,50.1,19.9,57.0,237.0,A,25.987836,20.0

In [64]:
answer = df[df.연령대==50]['신장 : cm'].mean()
answer

164.07490107405314

In [65]:
#답
result = df[(df.측정나이 <60) & (df.측정나이>=50)].iloc[:,2].mean()
print(result)

164.07490107405314

In [70]:
result = df[(df.측정나이 <60) & (df.측정나이>=50)].iloc[:,2] #컬럼의 인덱스가 2인 부분이 신장이여서 이렇게 쓸수 있다.
result

0        175.0
15       153.1
17       181.9
28       159.9
31       152.7
         ...
13340    161.0
13343    160.0
13370    163.6
13374    149.4
13376    160.1
Name: 신장 : cm, Length: 1769, dtype: float64

# Question **연령대 (20~29 : 20대 …) 별 인원수를 구하여라**

In [52]:
answer = df.groupby('연령대').size().reset_index().rename(columns={0:"count"})
answer

    연령대  count
0  20.0   5831
1  30.0   2660
2  40.0   1801
3  50.0   1769
4  60.0   1335

In [59]:
answer = df.groupby('연령대').size().to_frame("count")
answer

      count
연령대
20.0   5831
30.0   2660
40.0   1801
50.0   1769
60.0   1335

In [71]:
#답
df['연령대']  =df.측정나이 //10 *10
result = df['연령대'].value_counts()
print(result)

20.0    5831
30.0    2660
40.0    1801
50.0    1769
60.0    1335
Name: 연령대, dtype: int64

# Question **연령대 (20~29 : 20대 …) 별 등급의 숫자를 데이터 프레임으로 표현하라**

In [60]:
answer = df.groupby(['연령대','등급']).size().to_frame("count")
answer

         count
연령대  등급
20.0 A    1585
     B    1443
     C    1455
     D    1348
30.0 A     743
     B     697
     C     626
     D     594
40.0 A     386
     B     428
     C     455
     D     532
50.0 A     321
     B     410
     C     474
     D     564
60.0 A     314
     B     371
     C     339
     D     311

In [76]:
#답
result = df.groupby(['연령대','등급'],as_index=False).size()
result

     연령대 등급  size
0   20.0  A  1585
1   20.0  B  1443
2   20.0  C  1455
3   20.0  D  1348
4   30.0  A   743
5   30.0  B   697
6   30.0  C   626
7   30.0  D   594
8   40.0  A   386
9   40.0  B   428
10  40.0  C   455
11  40.0  D   532
12  50.0  A   321
13  50.0  B   410
14  50.0  C   474
15  50.0  D   564
16  60.0  A   314
17  60.0  B   371
18  60.0  C   339
19  60.0  D   311

# Question **남성 중 A등급과 D등급의 체지방률 평균의 차이(큰 값에서 작은 값의 차)를 구하여라**

In [82]:
answer = abs(df[(df.측정회원성별=="M")&(df.등급=="A")]['체지방율 : %'].mean() - df[(df.측정회원성별=="M")&(df.등급=="D")]['체지방율 : %'].mean())
answer

7.932086486137521

In [84]:
df

,측정나이,측정회원성별,신장 : cm,체중 : kg,체지방율 : %,이완기혈압(최저) : mmHg,수축기혈압(최고) : mmHg,악력D : kg,앉아윗몸앞으로굽히기 : cm,교차윗몸일으키기 : 회,제자리 멀리뛰기 : cm,등급,bmi,연령대
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C,23.053061,50.0
1,40.0,F,161.4,45.8,21.7,62.0,119.0,22.1,16.0,32.0,165.0,B,17.581601,40.0
2,27.0,M,176.6,84.8,19.2,87.0,153.0,45.9,13.2,61.0,216.0,B,27.190328,20.0
3,38.0,M,167.6,76.7,24.7,63.0,132.0,43.6,16.0,45.0,231.0,A,27.305324,30.0
4,21.0,M,165.2,66.2,21.5,83.0,106.0,33.5,10.6,46.0,198.0,C,24.257046,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13391,61.0,M,167.0,65.8,22.2,71.0,130.0,33.7,14.5,37.0,182.0,C,23.593531,60.0
13392,25.0,M,170.7,64.2,22.4,57.0,121.0,32.5,11.8,48.0,196.0,C,22.032713,20.0
13393,47.0,M,166.2,77.5,22.8,84.0,133.0,52.4,11.9,45.0,220.0,B,28.056899,40.0
13394,29.0,M,175.4,74.4,16.1,77.0,124.0,58.4,23.5,48.0,245.0,B,24.183199,20.0
13395,28.0,M,173.8,78.5,17.3,88.0,119.0,50.1,19.9,57.0,237.0,A,25.987836,20.0

In [83]:
#답
result = abs(df[(df.측정회원성별 =='M') &(df.등급 =='A')].iloc[:,4].mean() -df[(df.측정회원성별 =='M') &(df.등급 =='D')].iloc[:,4].mean())
print(result)

7.932086486137521

# Question **여성 중 A등급과 D등급의 체중의 평균의 차이(큰 값에서 작은 값의 차)를 구하여라**

In [87]:
answer = abs(df[(df.측정회원성별=="F") & (df.등급=="A")]['체중 : kg'].mean() -df[(df.측정회원성별=="F") & (df.등급=="D")]['체중 : kg'].mean())
answer

5.176211590296504

In [86]:
#답
result = abs(df[(df.측정회원성별 =='F') &(df.등급 =='A')].iloc[:,3].mean() -df[(df.측정회원성별 =='F') &(df.등급 =='D')].iloc[:,3].mean())
print(result)

5.176211590296504

# Question **bmi는 자신의 몸무게(kg)를 키의 제곱(m)으로 나눈값이다. 데이터의 bmi 를 구한 새로운 컬럼을 만들고 남성의 bmi 평균을 구하여라**

In [17]:
df['bmi'] = df['체중 : kg']/(df['신장 : cm']/100)**2
answer = df[df.측정회원성별=="M"]['bmi'].mean()
answer

24.46134409819308

In [88]:
# 답
df['bmi'] = df['체중 : kg'] / (df['신장 : cm']/100) **2
result = df[df.측정회원성별 =='M'].bmi.mean()

print(result)

24.46134409819308

# Question **bmi보다 체지방율이 높은 사람들의 체중평균을 구하여라**

In [27]:
answer = df[df['체지방율 : %']>df['bmi']]['체중 : kg'].mean()
print(answer,"kg")
print("{}kg".format(answer))
print(f"{answer:.4f}kg")

61.7408806392542 kg
61.7408806392542kg
61.7409kg

In [89]:
# 답
result =df[df.bmi <df['체지방율 : %']]['체중 : kg'].mean()
print(result)

61.7408806392542

# Question **남성과 여성의 악력 평균의 차이를 구하여라**

In [28]:
answer = df[df.측정회원성별=="M"]['악력D : kg'].mean() - df[df.측정회원성별=="F"]['악력D : kg'].mean()
answer

17.55954185047464

In [90]:
# 답
target= df.groupby('측정회원성별')['악력D : kg'].mean()

result = target.M - target.F
print(result)

17.55954185047465

# Question **남성과 여성의 교차윗몸일으키기 횟수의 평균의 차이를 구하여라**

In [16]:
M_m = df[df.측정회원성별=="M"]['교차윗몸일으키기 : 회'].mean()
F_m = df[df.측정회원성별=="F"]['교차윗몸일으키기 : 회'].mean()
answer = M_m - F_m
answer

14.243156833157627

In [91]:
# 답
target= df.groupby('측정회원성별')['교차윗몸일으키기 : 회'].mean()

result = target.M - target.F
print(result)

14.243156833157627