data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv

Question1 **주어진 전체 기간의 각 나라별 골득점수 상위 5개 국가와 그 득점수를 데이터프레임형태로 출력하라**

Question2 **주어진 전체기간동안 골득점을 한 선수가 가장 많은 나라 상위 5개 국가와 그 선수 숫자를 데이터 프레임 형식으로 출력하라**

Question3 **Years 컬럼은 년도 -년도 형식으로 구성되어있고, 각 년도는 4자리 숫자이다. 년도 표기가 4자리 숫자로 안된 케이스가 존재한다. 해당 건은 몇건인지 출력하라**

Question4  **Q3에서 발생한 예외 케이스를 제외한 데이터프레임을 df2라고 정의하고 데이터의 행의 숫자를 출력하라 (아래 문제부터는 df2로 풀이하겠습니다)**

Question5 **월드컵 출전횟수를 나타내는 ‘LenCup’ 컬럼을 추가하고 4회 출전한 선수의 숫자를 구하여라**

Question6 **Yugoslavia 국가의 월드컵 출전횟수가 2회인 선수들의 숫자를 구하여라**

Question7 **2002년도에 출전한 전체 선수는 몇명인가?**

Question8 **이름에 ‘carlos’ 단어가 들어가는 선수의 숫자는 몇 명인가? (대, 소문자 구분 x)**

Question9 **월드컵 출전 횟수가 1회뿐인 선수들 중에서 가장 많은 득점을 올렸던 선수는 누구인가?**

Question10 **월드컵 출전횟수가 1회 뿐인 선수들이 가장 많은 국가는 어디인가?**

In [58]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv")
df.head(3)

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1295 entries, 0 to 1294
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Player   1295 non-null   object
 1   Goals    1295 non-null   int64
 2   Years    1295 non-null   object
 3   Country  1295 non-null   object
dtypes: int64(1), object(3)
memory usage: 40.6+ KB

# Question1 주어진 전체 기간의 각 나라별 골득점수 상위 5개 국가와 그 득점수를 데이터프레임형태로 출력하라

In [7]:
answer = df.groupby('Country').sum().reset_index().sort_values(by='Goals',ascending=False)
answer.head(5)

      Country  Goals
8      Brazil    228
25    Germany    226
2   Argentina    135
36      Italy    123
24     France    115

답

In [188]:
result = df.groupby('Country').sum().sort_values('Goals',ascending=False).head(5)
display(result)

           Goals  check_TF  check
Country
Brazil       228        81     81
Germany      226        76     76
Argentina    135        59     59
Italy        123        59     59
France       115        57     57

# Question2 주어진 전체기간동안 골득점을 한 선수가 가장 많은 나라 상위 5개 국가와 그 선수 숫자를 데이터 프레임 형식으로 출력하라

In [159]:
answer = df.groupby('Country').Player.count().sort_values(ascending=False).head(5)
answer

Country
Brazil       81
Germany      78
Italy        60
Argentina    59
France       58
Name: Player, dtype: int64

답

In [160]:
result = df.groupby('Country').size().sort_values(ascending=False).head(5)
print(result)

Country
Brazil       81
Germany      78
Italy        60
Argentina    59
France       58
dtype: int64

# Question3 Years 컬럼은 년도 -년도 형식으로 구성되어있고, 각 년도는 4자리 숫자이다. 년도 표기가 4자리 숫자로 안된 케이스가 존재한다. 해당 건은 몇건인지 출력하라

In [59]:
df['Years_split'] = df['Years'].str.split("-")
df.head(2)

,Player,Goals,Years,Country,Years_split
0,Miroslav Klose,16,2002-2006-2010-2014,Germany,"[2002, 2006, 2010, 2014]"
1,Ronaldo,15,1998-2002-2006,Brazil,"[1998, 2002, 2006]"

In [60]:
df['Years_split']

0       [2002, 2006, 2010, 2014]
1             [1998, 2002, 2006]
2                   [1970, 1974]
3                         [1958]
4       [1958, 1962, 1966, 1970]
                  ...
1290                      [1962]
1291                [1982, 1990]
1292                      [1930]
1293                      [1930]
1294                [1954, 1958]
Name: Years_split, Length: 1295, dtype: object

In [61]:
def checkfour(x):
    for value in x:
        if len(str(value))!=4:
            return False
        return True

df['check_TF']= df['Years_split'].apply(checkfour) 
answer = len(df.loc[df['check_TF']==False])
print(answer) #45
#df['check_TF1']= checkfour(df['Years_split']) 
# answer1 = len(df.loc[df.check_TF1 == False]) #왜 다르게 적용 되지???
# print(answer1) #1295

45

In [162]:
df.head(3)

,Player,Goals,Years,Country,Years_split,check_TF,yearLst,check
0,Miroslav Klose,16,2002-2006-2010-2014,Germany,"[2002, 2006, 2010, 2014]",True,"[2002, 2006, 2010, 2014]",True
1,Ronaldo,15,1998-2002-2006,Brazil,"[1998, 2002, 2006]",True,"[1998, 2002, 2006]",True
2,Gerd Muller,14,1970-1974,Germany,"[1970, 1974]",True,"[1970, 1974]",True

답

In [161]:
df['yearLst'] = df.Years.str.split('-')

def checkFour(x):
    for value in x:
        if len(str(value)) != 4:
            return False
        
    return True
    
df['check'] = df['yearLst'].apply(checkFour)

result = len(df[df.check ==False])
result

45

# Question4  Q3에서 발생한 예외 케이스를 제외한 데이터프레임을 df2라고 정의하고 데이터의 행의 숫자를 출력하라 (아래 문제부터는 df2로 풀이하겠습니다)

In [64]:
df2 = df.drop(index = df.loc[df['check_TF']==False].index)
df2.head(3)

,Player,Goals,Years,Country,Years_split,check_TF
0,Miroslav Klose,16,2002-2006-2010-2014,Germany,"[2002, 2006, 2010, 2014]",True
1,Ronaldo,15,1998-2002-2006,Brazil,"[1998, 2002, 2006]",True
2,Gerd Muller,14,1970-1974,Germany,"[1970, 1974]",True

In [66]:
answer = len(df2)
answer

1250

답

In [84]:
df2 = df[df.check_TF ==True].reset_index(drop=True)
print(df2.shape[0]) #행
#print(df2.shape[1]) #열

1250

# Question5 월드컵 출전횟수를 나타내는 ‘LenCup’ 컬럼을 추가하고 4회 출전한 선수의 숫자를 구하여라

In [71]:
def count_num(x):
    answer = 0
    for value in x:
        answer+=1
    return answer

df2['LenCup'] = df['Years_split'].apply(count_num)
answer = len(df2[df2.LenCup==4])
answer

16

답

In [163]:
df2['LenCup'] =df2['Years_split'].str.len()
result = df2['LenCup'].value_counts()[4]
print(result)

16

In [164]:
df2['LenCup'].value_counts()

1    779
2    353
3    102
4     16
Name: LenCup, dtype: int64

# Question6 Yugoslavia 국가의 월드컵 출전횟수가 2회인 선수들의 숫자를 구하여라

In [72]:
answer = len(df2[(df2.Country == "Yugoslavia") &(df2.LenCup==2)])
answer

7

답

In [94]:
result = len(df2[(df2.LenCup==2) & (df2.Country =='Yugoslavia')])
print(result)

7

# Question7 2002년도에 출전한 전체 선수는 몇명인가?

In [170]:
def find_2002(x):
    for value in x:
        if value == '2002':
            return True
        else: 
            return False
    
df2['2002_TF'] = df2['Years_split'].apply(find_2002)
answer = len(df2[df2['2002_TF']==True])
answer

96

답

In [169]:
result =len(df2[df2.Years.str.contains('2002')])
print(result)

156

# Question8 이름에 ‘carlos’ 단어가 들어가는 선수의 숫자는 몇 명인가? (대, 소문자 구분 x)

답보고 했음

In [186]:
answer = len(df2[df2['Player'].str.lower().str.contains('carlos')])
answer

13

In [187]:
result = len(df2[df2.Player.str.lower().str.contains('carlos')])
print(result)

13

# Question9 월드컵 출전 횟수가 1회뿐인 선수들 중에서 가장 많은 득점을 올렸던 선수는 누구인가?

In [111]:
target = df2[df2.LenCup==1].Goals.max()
answer = df2[(df2.LenCup==1) & (df2.Goals == target)].Player.to_list()[0]
print(answer)

Just Fontaine

답

In [181]:
result = df2[df2.LenCup==1].sort_values('Goals',ascending=False).Player.values[0]
print(result)

Just Fontaine

# Question10 월드컵 출전횟수가 1회 뿐인 선수들이 가장 많은 국가는 어디인가?

In [178]:
answer = df2[df2.LenCup==1].groupby('Country').size().sort_values(ascending=False).head(1)
answer

Country
Brazil    43
dtype: int64

답

In [179]:
result= df2[df2.LenCup==1].Country.value_counts().index[0]
print(result)

Brazil

In [180]:
result= df2[df2.LenCup==1].Country.value_counts()
result

Brazil       43
Argentina    33
Germany      32
France       31
Spain        30
             ..
Jamaica       1
Haiti         1
Panama        1
Ecuador       1
Togo          1
Name: Country, Length: 75, dtype: int64