# 유투브인기동영상

dataurl : https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv

Question 인기동영상 제작횟수가 많은 채널 상위 10개명을 출력하라 (날짜기준, 중복포함)

Question 논란으로 인기동영상이 된 케이스를 확인하고 싶다. dislikes수가 like 수보다 높은 동영상을 제작한 채널을 모두 출력하라

Question 채널명을 바꾼 케이스가 있는지 확인하고 싶다. channelId의 경우 고유값이므로 이를 통해 채널명을 한번이라도 바꾼 채널의 갯수를 구하여라

Question 일요일에 인기있었던 영상들중 가장많은 영상 종류(categoryId)는 무엇인가?

Question 각 요일별 인기 영상들의 categoryId는 각각 몇개 씩인지 하나의 데이터 프레임으로 표현하라

Question 댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다. viewcount대비 댓글수가 가장 높은 영상을 확인하라 (view_count값이 0인 경우는 제외한다)

Question 댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다.viewcount대비 댓글수가 가장 낮은 영상을 확인하라 (view_counts, ratio값이 0인경우는 제외한다.)

Question like 대비 dislike의 수가 가장 적은 영상은 무엇인가? (like, dislike 값이 0인경우는 제외한다)

Question 가장많은 트렌드 영상을 제작한 채널의 이름은 무엇인가? (날짜기준, 중복포함)

Question 20회(20일)이상 인기동영상 리스트에 포함된 동영상의 숫자는?

In [9]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv")
df.head()

,Unnamed: 0,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,3,고기남자의 칠면조 파티,고기남자 MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,4,골목 3mc를 분노하게 만든 마음고생이 심했을 공릉 백반집 사장님의 푸념?! [예능...,스브스밥집,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [19]:
df1= df.drop(columns=['Unnamed: 0']) #, axis=1 )
df1.head(3)

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01

In [20]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv",index_col=0)
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,고기남자의 칠면조 파티,고기남자 MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,골목 3mc를 분노하게 만든 마음고생이 심했을 공릉 백반집 사장님의 푸념?! [예능...,스브스밥집,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60399 entries, 0 to 60398
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           60399 non-null  object
 1   channelTitle    60399 non-null  object
 2   categoryId      60399 non-null  int64
 3   view_count      60399 non-null  int64
 4   likes           60399 non-null  int64
 5   dislikes        60399 non-null  int64
 6   comment_count   60399 non-null  int64
 7   channelId       60399 non-null  object
 8   trending_date2  60399 non-null  object
dtypes: int64(5), object(4)
memory usage: 4.6+ MB

## Question 인기동영상 제작횟수가 많은 채널 상위 10개명을 출력하라 (날짜기준, 중복포함)

답

In [263]:
answer =list(df.loc[df.channelId.isin(df.channelId.value_counts().head(10).index)].channelTitle.unique())
print(answer) # 답

['장삐쭈', '총몇명', '파뿌리', '짤툰', '런닝맨 - 스브스 공식 채널', '엠뚜루마뚜루 : MBC 공식 종합 채널', 'SPOTV', '채널 십오야', '이과장', 'BANGTANTV']

##  Question 논란으로 인기동영상이 된 케이스를 확인하고 싶다. dislikes수가 like 수보다 높은 동영상을 제작한 채널을 모두 출력하라

In [112]:
answer = df.loc[df['dislikes'] > df['likes']].channelTitle.to_list()
answer = list(set(answer))
answer

['ASMR 애정TV',
 '양팡 YangPang',
 '왜냐맨하우스',
 '(MUTUBE)와꾸대장봉준',
 '오메킴TV',
 'MapleStory_KR',
 'Gen.G esports',
 'ROAD FIGHTING CHAMPIONSHIP',
 '철구형 (CHULTUBE)',
 '나혼자산다 STUDIO',
 '하얀트리HayanTree',
 '핫도그TV',
 '육지담',
 '사나이 김기훈']

In [259]:
answer = df.loc[df['dislikes'] > df['likes']].groupby('channelTitle').size()
answer

channelTitle
(MUTUBE)와꾸대장봉준                11
ASMR 애정TV                      2
Gen.G esports                 17
MapleStory_KR                  7
ROAD FIGHTING CHAMPIONSHIP     7
나혼자산다 STUDIO                   1
사나이 김기훈                        1
양팡 YangPang                   44
오메킴TV                         10
왜냐맨하우스                         8
육지담                            7
철구형 (CHULTUBE)                10
하얀트리HayanTree                 10
핫도그TV                          8
dtype: int64

답

In [261]:
answer = list(df.loc[df['dislikes'] > df['likes']].channelTitle.unique())
answer

['핫도그TV',
 'ASMR 애정TV',
 '하얀트리HayanTree',
 '양팡 YangPang',
 '철구형 (CHULTUBE)',
 '왜냐맨하우스',
 '(MUTUBE)와꾸대장봉준',
 '오메킴TV',
 '육지담',
 'MapleStory_KR',
 'ROAD FIGHTING CHAMPIONSHIP',
 '사나이 김기훈',
 '나혼자산다 STUDIO',
 'Gen.G esports']

## Question 채널명을 바꾼 케이스가 있는지 확인하고 싶다. channelId의 경우 고유값이므로 이를 통해 채널명을 한번이라도 바꾼 채널의 갯수를 구하여라

In [264]:
change = df[['channelTitle','channelId']].drop_duplicates().channelId.value_counts()
target = change[change>1]
print(len(target)) # 답

71

In [267]:
change = df[['channelTitle','channelId']]
change

                  channelTitle                 channelId
0                          장삐쭈  UChbE5OZQ6dRHECsX0tEPEZQ
1      RAIN's Official Channel  UCxXgIeE5hxWxHG6dz9Scg2w
2                  서울시 · Seoul  UCZUPZW5idAxYp-Asj__lVAA
3                 고기남자 MeatMan  UCT3CumbFIJiW33uq0UI3zlg
4                        스브스밥집  UCdWgRSfttvDucq4ApcCg5Mw
...                        ...                       ...
60394                       공룡  UCWf4QKgnTyvmehcRqw-JldQ
60395                  놀면 뭐하니?  UCx6jsZ02B4K3SECUrkgPyzg
60396        김종국 GYM JONG KOOK  UCoe-0EVDJnjlSoPK8ygcGwQ
60397                 스브스 예능맛집  UCnx4Fi4cmkLGDiFfZ311wWw
60398              HYBE LABELS  UC3IZKseVpdzPSBaWxBxundA

[60399 rows x 2 columns]

In [271]:
change = df[['channelTitle','channelId']].drop_duplicates().channelId.value_counts()
change

UCtQYhzJWFai1y30UIA3uwYQ    3
UC98TOxKQk4aLcx0EjIK0LkQ    3
UC4nEQI74rZkFKlUSwi0ur4A    2
UCn64fSqF2l4rkkjtQUpku2A    2
UCjO3ji06DxmTM1RrzLVwmkA    2
                           ..
UCuZu8NrpBG4WPXRi-hPBl-A    1
UCDrAR1OWC2MD4s0JLetN0MA    1
UCx2MVBsdTJ_sv0LiUpSQU2Q    1
UCu2R3TCLSxYV8pRyBGNOh2g    1
UCRCK5FCJtomQT3b88jXI_DA    1
Name: channelId, Length: 1770, dtype: int64

## Question 일요일에 인기있었던 영상들중 가장많은 영상 종류(categoryId)는 무엇인가?

In [279]:
df['trending_date2'] = pd.to_datetime(df['trending_date2'])
answer =df.loc[df['trending_date2'].dt.day_name() =='Sunday'].categoryId.value_counts().index[0]
print(answer) #답

24

답보고 다시 해보기 ... ..

In [275]:
df['day'] = pd.to_datetime(df['trending_date2']).dt.day_name()
df.head(3)

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2,day
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01,Friday
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01,Friday
2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01,Friday

In [282]:
df['day']=pd.to_datetime(df['trending_date2']).dt.day_name()
answer = df.loc[df['day']=='Sunday'].categoryId.value_counts().index[0]
answer

24

In [297]:
df['day']=pd.to_datetime(df['trending_date2']).dt.day_name()
answer = df.loc[df['day']=='Sunday'].categoryId.value_counts() #큰 수 순서
answer

24    3096
22    1337
10     830
17     636
23     556
25     437
26     363
20     289
1      274
15     217
27     199
28     167
2       99
19      91
29       9
Name: categoryId, dtype: int64

In [309]:
df['day']=pd.to_datetime(df['trending_date2']).dt.day_name()
answer = df.loc[df['day']=='Sunday'].groupby('categoryId').size().sort_values() #작은 수 순서
answer

categoryId
29       9
19      91
2       99
28     167
27     199
15     217
1      274
20     289
26     363
25     437
23     556
17     636
10     830
22    1337
24    3096
dtype: int64

### 기존에 내가 생각한 답 .. 인기있었던 동영상 자체니까 이런거 안해도됨 ..

In [68]:
print(target.likes.mean(), "," ,len(target[target['likes']>target.likes.mean()]))
print(target.likes.median(),",",len(target[target['likes']>target.likes.median()]))

80428.40813953488 , 762
10640.0 , 4300

In [246]:
df['day'] = pd.to_datetime(df['trending_date2']).dt.weekday 
target = df.loc[df['day']==6].reset_index(drop='True') # 6이 일요일
answer = target[target['likes']>target.likes.mean()].groupby('categoryId').size().sort_values().index[-1]
answer

10

## Question 각 요일별 인기 영상들의 categoryId는 각각 몇개 씩인지 하나의 데이터 프레임으로 표현하라

답

In [334]:
group = df.groupby([df['trending_date2'].dt.day_name(),'categoryId'],as_index=False).size()
answer= group.pivot(index='categoryId',columns='trending_date2')
display(answer)

                 size
trending_date2 Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

## Question 댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다. viewcount대비 댓글수가 가장 높은 영상을 확인하라 (view_count값이 0인 경우는 제외한다)

In [251]:
df.head(2)

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2,day
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01,4
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01,4

In [198]:
df1=df.drop(index=df.loc[df['view_count']==0].index)
print(len(df.loc[df['view_count']==0]))
print(len(df1))
print(len(df))

13
60386
60399

In [217]:
df1=df.drop(index=df.loc[df['view_count']==0].index)
df1['comment/view']= df1['comment_count']/df1['view_count']
answer = df1[df1['comment/view']==df1['comment/view'].max()].title.to_list()
answer

['60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)']

In [286]:
df1=df.drop(index=df.loc[df['view_count']==0].index)
df1['comment/view']= df1['comment_count']/df1['view_count']
answer = df1[df1['comment/view']==df1['comment/view'].max()].title.to_list()[0]
answer

'60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)'

답

In [283]:
target2= df.loc[df.view_count!=0]
t = target2.copy()
t['ratio'] = (target2['comment_count']/target2['view_count']).dropna()
result = t.sort_values(by='ratio', ascending=False).iloc[0].title
print(result)

60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)

## Question 댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다.viewcount대비 댓글수가 가장 낮은 영상을 확인하라 (view_counts, ratio값이 0인경우는 제외한다.)

In [289]:
df1=df.drop(index=df.loc[(df['view_count']==0)].index)
df1['ratio'] = df1['comment_count']/df1['view_count']
df1.drop(index= df1[df1['ratio']==0.0].index, inplace =True)
answer = df1[df1['ratio']==df1['ratio'].min()].title.to_list()[0]
print(answer)

Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts

In [303]:
ratio =(df['comment_count']/df['view_count']).dropna().sort_values()
ratio[ratio !=0]

46005    2.152456e-08
46210    3.874120e-08
51798    1.931927e-07
51579    1.976488e-07
51353    2.031132e-07
             ...
526               inf
1180              inf
957               inf
740               inf
297               inf
Length: 59615, dtype: float64

답

In [291]:
ratio = (df['comment_count'] / df['view_count']).dropna().sort_values()
ratio[ratio!=0].index[0]

result= df.iloc[ratio[ratio!=0].index[0]].title
print(result)

Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts

## Question like 대비 dislike의 수가 가장 적은 영상은 무엇인가? (like, dislike 값이 0인경우는 제외한다)

In [172]:
df1 = df.drop(index = df.loc[(df['likes']==0) |(df['dislikes']==0)].index).reset_index(drop=True)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59693 entries, 0 to 59692
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           59693 non-null  object
 1   channelTitle    59693 non-null  object
 2   categoryId      59693 non-null  int64
 3   view_count      59693 non-null  int64
 4   likes           59693 non-null  int64
 5   dislikes        59693 non-null  int64
 6   comment_count   59693 non-null  int64
 7   channelId       59693 non-null  object
 8   trending_date2  59693 non-null  object
 9   day             59693 non-null  int64
dtypes: int64(6), object(4)
memory usage: 4.6+ MB

In [190]:
df1['dis/like'] = df1['dislikes']/df1['likes']
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59693 entries, 0 to 59692
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           59693 non-null  object
 1   channelTitle    59693 non-null  object
 2   categoryId      59693 non-null  int64
 3   view_count      59693 non-null  int64
 4   likes           59693 non-null  int64
 5   dislikes        59693 non-null  int64
 6   comment_count   59693 non-null  int64
 7   channelId       59693 non-null  object
 8   trending_date2  59693 non-null  object
 9   day             59693 non-null  int64
 10  dis/like        59693 non-null  float64
dtypes: float64(1), int64(6), object(4)
memory usage: 5.0+ MB

In [197]:
answer = df1[df1['dis/like']==df1['dis/like'].min()].title.to_list()
answer

['[줌터뷰] *최초공개* 사부작즈🐰🐶의 비공식 이름은 아이라인즈? 꿀조합 티키타카 가득한 NCT 127 도영&정우의 줌터뷰']

## Question 가장많은 트렌드 영상을 제작한 채널의 이름은 무엇인가? (날짜기준, 중복포함)

답

In [333]:
answer = df.loc[df.channelId ==df.channelId.value_counts().index[0]].channelTitle.unique()[0]
print(answer)

짤툰

## Question 20회(20일)이상 인기동영상 리스트에 포함된 동영상의 숫자는?

In [327]:
target = df.groupby('title').trending_date2.size().to_frame().reset_index()
target

                                                  title  trending_date2
0              #1. [슈퍼리그] 챔스 종결? 드디어 창설된 슈퍼리그, 형태와 방식은?               8
1                             #181.왜 나만 갖고 그래?? #shorts              10
2                          #254. 조만간 사고 낼 것 같아요 #shorts              10
3                            #302. 끌바냐? 단속이냐?   #shorts               8
4     #MtnDew3PT​ Contest Full Highlights | 2021 #NB...               7
...                                                 ...             ...
7849  🧳ep.12-1 좋은 거 다 주고 싶었던(?) 배우들의 역대급 몸으로 말해요 | 🧳...               2
7850  🧳스페셜(1) 최다 출연 X 최단 시간, 이렇게 힘든 걸 금가즈가 해냅니다 | 🧳출...               2
7851      🧳스페셜(2) 솔찍히 썸네일만 봐도 벌써 재밌다 | 🧳출장십오야 X 빈센조 스페셜               2
7852  🧳최종화 BH의 안녕과 평화(?)가 걸린, 난이도 극악(!) 고요 속의 외침 | 🧳...               2
7853  🩸괴담회에 어서오세요🩸: 첫 번째 이야기 | WELCOME TO NCT’S HORR...               9

[7854 rows x 2 columns]

In [328]:
target.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7854 entries, 0 to 7853
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           7854 non-null   object
 1   trending_date2  7854 non-null   int64
dtypes: int64(1), object(1)
memory usage: 122.8+ KB

In [329]:
answer = target[target['trending_date2']>=20]
print(len(answer))

41

In [331]:
target = df.groupby(['title','channelId']).trending_date2.size().to_frame().reset_index()
target #왜 title, channelId 를 둘다 그룹화 해야하지??

,title,channelId,trending_date2
0,"#1. [슈퍼리그] 챔스 종결? 드디어 창설된 슈퍼리그, 형태와 방식은?",UCn9mJ4htO64-1osMWYu9k5Q,8
1,#181.왜 나만 갖고 그래?? #shorts,UCH5U89kvHrVxxS80xpoOydw,10
2,#254. 조만간 사고 낼 것 같아요 #shorts,UCH5U89kvHrVxxS80xpoOydw,10
3,#302. 끌바냐? 단속이냐? #shorts,UCH5U89kvHrVxxS80xpoOydw,8
4,#MtnDew3PT​ Contest Full Highlights | 2021 #NB...,UCWJ2lWNubArHWmf3FIHbfcQ,7
...,...,...,...
7862,🧳ep.12-1 좋은 거 다 주고 싶었던(?) 배우들의 역대급 몸으로 말해요 | 🧳...,UCQ2O-iftmnlfrBuNsUUTofQ,2
7863,"🧳스페셜(1) 최다 출연 X 최단 시간, 이렇게 힘든 걸 금가즈가 해냅니다 | 🧳출...",UCQ2O-iftmnlfrBuNsUUTofQ,2
7864,🧳스페셜(2) 솔찍히 썸네일만 봐도 벌써 재밌다 | 🧳출장십오야 X 빈센조 스페셜,UCQ2O-iftmnlfrBuNsUUTofQ,2
7865,"🧳최종화 BH의 안녕과 평화(?)가 걸린, 난이도 극악(!) 고요 속의 외침 | 🧳...",UCQ2O-iftmnlfrBuNsUUTofQ,2
7866,🩸괴담회에 어서오세요🩸: 첫 번째 이야기 | WELCOME TO NCT’S HORR...,UCwgtORdDtUKhpjE1VBv6XfA,9

In [332]:
answer = target[target['trending_date2']>=20]
print(len(answer))

40

답

In [330]:
answer= (df[['title','channelId']].value_counts()>=20).sum()
print(answer)

40