데이터 설명 : 전세계 행복도 지표 조사data url = [https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv](https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv)

Question **데이터는 2018년도와 2019년도의 전세계 행복 지수를 표현한다. 각년도의 행복랭킹 10위를 차지한 나라의 행복점수의 평균을 구하여라**

Question **데이터는 2018년도와 2019년도의 전세계 행복 지수를 표현한다. 각년도의 행복랭킹 50위이내의 나라들의 각각의 행복점수 평균을 데이터프레임으로 표시하라**

Question **2018년도 데이터들만 추출하여 행복점수와 부패에 대한 인식에 대한 상관계수를 구하여라**

<font color='red'>Question **2018년도와 2019년도의 행복랭킹이 변화하지 않은 나라명의 수를 구하여라**</font>

Question **2019년도 데이터들만 추출하여 각변수간 상관계수를 구하고 내림차순으로 정렬한 후 상위 5개를 데이터 프레임으로 출력하라. 컬럼명은 v1,v2,corr으로 표시하라**

Question **각 년도별 하위 행복점수의 하위 5개 국가의 평균 행복점수를 구하여라**

Question **2019년 데이터를 추출하고 해당데이터의 상대 GDP 평균 이상의 나라들과 평균 이하의 나라들의 행복점수 평균을 각각 구하고 그 차이값을 출력하라**

Question **각년도의 부패에 대한인식을 내림차순 정렬했을때 상위 20개 국가의 부패에 대한인식의 평균을 구하여라**

<font color='red'>Question **2018년도 행복랭킹 50위 이내에 포함됐다가 2019년 50위 밖으로 밀려난 국가의 숫자를 구하여라**</font>

<font color='red'> Question **2018년,2019년 모두 기록이 있는 나라들 중 년도별 행복점수가 가장 증가한 나라와 그 증가 수치는?** 젤어렵다

In [2]:
import pandas as pd
df =pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv")
df.head(3)

   행복랭킹      나라명     점수  상대GDP  사회적지원  행복기대치  선택의 자유도    관대함  부패에 대한인식    년도
0     1  Finland  7.769  1.340  1.587  0.986    0.596  0.153     0.393  2019
1     2  Denmark  7.600  1.383  1.573  0.996    0.592  0.252     0.410  2019
2     3   Norway  7.554  1.488  1.582  1.028    0.603  0.271     0.341  2019

# Question **데이터는 2018년도와 2019년도의 전세계 행복 지수를 표현한다. 각년도의 행복랭킹 10위를 차지한 나라의 행복점수의 평균을 구하여라**

In [8]:
answer = df[df['행복랭킹']==10].점수.mean()
answer

7.259

# Question **데이터는 2018년도와 2019년도의 전세계 행복 지수를 표현한다. 각년도의 행복랭킹 50위이내의 나라들의 각각의 행복점수 평균을 데이터프레임으로 표시하라**

In [12]:
answer = df[df['행복랭킹']<=50].groupby('년도').점수.mean().reset_index()
answer

     년도       점수
0  2018  6.64678
1  2019  6.67002

In [13]:
answer = df[df['행복랭킹']<=50].groupby('년도').점수.mean().to_frame()
answer

           점수
년도
2018  6.64678
2019  6.67002

In [17]:
#답
result = df[df.행복랭킹<=50][['년도','점수']].groupby('년도').mean()
result

           점수
년도
2018  6.64678
2019  6.67002

# Question **2018년도 데이터들만 추출하여 행복점수와 부패에 대한 인식에 대한 상관계수를 구하여라**

In [19]:
answer= df[df.년도==2018][['점수','부패에 대한인식']].corr()
answer

                점수  부패에 대한인식
점수        1.000000  0.405292
부패에 대한인식  0.405292  1.000000

# Question **2018년도와 2019년도의 행복랭킹이 변화하지 않은 나라명의 수를 구하여라**

In [106]:
df[['행복랭킹','나라명']]

     행복랭킹                       나라명
0       1                   Finland
1       2                   Denmark
2       3                    Norway
3       4                   Iceland
4       5               Netherlands
..    ...                       ...
307   152                     Yemen
308   153                  Tanzania
309   154               South Sudan
310   155  Central African Republic
311   156                   Burundi

[312 rows x 2 columns]

In [107]:
df[['행복랭킹','나라명']].drop_duplicates()

     행복랭킹          나라명
0       1      Finland
1       2      Denmark
2       3       Norway
3       4      Iceland
4       5  Netherlands
..    ...          ...
305   150        Syria
306   151       Rwanda
307   152        Yemen
309   154  South Sudan
311   156      Burundi

[297 rows x 2 columns]

잘못된 방법

In [22]:
df[df['년도']==2018].행복랭킹

156      1
157      2
158      3
159      4
160      5
      ...
307    152
308    153
309    154
310    155
311    156
Name: 행복랭킹, Length: 156, dtype: int64

In [23]:
answer =df.loc[df[df['년도']==2018].행복랭킹 == df[df['년도']==2019].행복랭킹]
answer

ValueError: Can only compare identically-labeled Series objects

In [130]:
# 답
answer = len(df[['행복랭킹','나라명']]) - len(df[['행복랭킹','나라명']].drop_duplicates())
answer

15

# Question **2019년도 데이터들만 추출하여 각변수간 상관계수를 구하고 내림차순으로 정렬한 후 상위 5개를 데이터 프레임으로 출력하라. 컬럼명은 v1,v2,corr으로 표시하라**

In [71]:
#답
zz = df[df.년도 ==2019].corr().unstack().to_frame().reset_index().dropna()

result = zz[zz[0] !=1].sort_values(0,ascending=False).drop_duplicates(0)
answer = result.head(5).reset_index(drop=True)
answer.columns = ['v1','v2','corr']
display(answer)

      v1     v2      corr
0  행복기대치  상대GDP  0.835462
1  상대GDP     점수  0.793883
2  행복기대치     점수  0.779883
3  사회적지원     점수  0.777058
4  사회적지원  상대GDP  0.754906

In [131]:
target = df[df['년도']==2019].corr().stack().reset_index()
display(target)
target2 = target.loc[target[0]!=1].rename(columns = {"level_0":"v1","level_1":"v2",0:"corr"}).sort_values(by="corr",ascending=False).head(5).reset_index(drop=True)
target2

     level_0   level_1         0
0       행복랭킹      행복랭킹  1.000000
1       행복랭킹        점수 -0.989096
2       행복랭킹     상대GDP -0.801947
3       행복랭킹     사회적지원 -0.767465
4       행복랭킹     행복기대치 -0.787411
..       ...       ...       ...
59  부패에 대한인식     사회적지원  0.181899
60  부패에 대한인식     행복기대치  0.295283
61  부패에 대한인식   선택의 자유도  0.438843
62  부패에 대한인식       관대함  0.326538
63  부패에 대한인식  부패에 대한인식  1.000000

[64 rows x 3 columns]

      v1     v2      corr
0  행복기대치  상대GDP  0.835462
1  상대GDP  행복기대치  0.835462
2  상대GDP     점수  0.793883
3     점수  상대GDP  0.793883
4  행복기대치     점수  0.779883

In [59]:
target = df[df['년도']==2019].corr().dropna(how='all').dropna(axis=1)
target2 = target.stack().reset_index().rename(columns={"level_0":"v1","level_1":"v2",0: "corr"}).sort_values(by="corr",ascending=False).head(5) 
#컬럼을 인덱스로 바꾼뒤 인덱스를 reset시켰다.
target2

         v1       v2  corr
0      행복랭킹     행복랭킹   1.0
9        점수       점수   1.0
54      관대함      관대함   1.0
45  선택의 자유도  선택의 자유도   1.0
36    행복기대치    행복기대치   1.0

# Question **각 년도별 하위 행복점수의 하위 5개 국가의 평균 행복점수를 구하여라**

In [78]:
answer = df.sort_values(['년도','점수']).groupby('년도').head(5).점수.mean()
answer

3.1604

In [92]:
answer = df.sort_values(['년도','점수']).groupby('년도').head(5).groupby('년도').mean()[['점수']]
answer

          점수
년도
2018  3.1800
2019  3.1408

In [93]:
#답
result = df.groupby('년도').tail(5).groupby('년도').mean()[['점수']]
print(result)

          점수
년도
2018  3.1800
2019  3.1408

# Question **2019년 데이터를 추출하고 해당데이터의 상대 GDP 평균 이상의 나라들과 평균 이하의 나라들의 행복점수 평균을 각각 구하고 그 차이값을 출력하라**

In [112]:
target = df[df['년도']==2019]
upper = target[target.상대GDP >= target.상대GDP.mean()].상대GDP.mean()
lower = target[target.상대GDP <= target.상대GDP.mean()].상대GDP.mean()
answer = upper - lower
print(upper,lower,answer)

1.2000454545454546 0.523514705882353 0.6765307486631016

In [113]:
# 답은 이건데 내답이 맞는 것같다. 2019년도 데이터를 추출하지 않았기 때문에
over = df[df.상대GDP >= df.상대GDP.mean()]['점수'].mean()
under = df[df.상대GDP <= df.상대GDP.mean()]['점수'].mean()

result= over - under
print(result)

1.4212148925537234

# Question **각년도의 부패에 대한인식을 내림차순 정렬했을때 상위 20개 국가의 부패에 대한인식의 평균을 구하여라**

In [90]:
#답
answer = df.sort_values(['년도','부패에 대한인식'],ascending=False).groupby('년도').head(20).groupby('년도').mean()[['부패에 대한인식']]
print(answer)

      부패에 대한인식
년도
2018    0.3267
2019    0.3201

In [99]:
answer = df.sort_values(['년도','부패에 대한인식'],ascending=False).groupby('년도').head(20).groupby('년도').mean()['부패에 대한인식']
answer

년도
2018    0.3267
2019    0.3201
Name: 부패에 대한인식, dtype: float64

In [97]:
answer = df.groupby('년도').head(20).groupby('년도').mean()[['부패에 대한인식']]
answer

      부패에 대한인식
년도
2018  0.276579
2019  0.259900

In [101]:
answer = df.groupby('년도').head(20).sort_values(['년도','부패에 대한인식'],ascending=False).groupby('년도').mean()[['부패에 대한인식']]
answer

      부패에 대한인식
년도
2018  0.276579
2019  0.259900

In [102]:
answer = df.groupby('년도').head(5)
answer

,행복랭킹,나라명,점수,상대GDP,사회적지원,행복기대치,선택의 자유도,관대함,부패에 대한인식,년도
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019
156,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
157,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018
158,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018
159,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018
160,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018

In [115]:
answer = df.sort_values(['년도','부패에 대한인식'],ascending=False).groupby('년도').head(5)
answer

,행복랭킹,나라명,점수,상대GDP,사회적지원,행복기대치,선택의 자유도,관대함,부패에 대한인식,년도
33,34,Singapore,6.262,1.572,1.463,1.141,0.556,0.271,0.453,2019
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
7,8,New Zealand,7.307,1.303,1.557,1.026,0.585,0.330,0.380,2019
189,34,Singapore,6.343,1.529,1.451,1.008,0.631,0.261,0.457,2018
306,151,Rwanda,3.408,0.332,0.896,0.400,0.636,0.200,0.444,2018
158,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018
156,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
163,8,New Zealand,7.324,1.268,1.601,0.876,0.669,0.365,0.389,2018

# Question **2018년도 행복랭킹 50위 이내에 포함됐다가 2019년 50위 밖으로 밀려난 국가의 숫자를 구하여라**

In [128]:
#답
result = set(df[(df.년도==2018) & (df.행복랭킹 <=50)].나라명)  -set(df[(df.년도==2019) & (df.행복랭킹 <=50)].나라명)
answer = len(result)
print(answer)

4

In [127]:
a2018 = set(df[(df.년도==2018) & (df.행복랭킹 <=50)].나라명) 
a2019 = set(df[(df.년도==2019) & (df.행복랭킹 <=50)].나라명)
print(a2018, "\n", a2019)
print("\t")
print(a2018-a2019)

{'Mexico', 'El Salvador', 'Taiwan', 'Czech Republic', 'United Kingdom', 'Iceland', 'United States', 'Netherlands', 'Luxembourg', 'Ecuador', 'Malaysia', 'Lithuania', 'Poland', 'Belize', 'Kuwait', 'Costa Rica', 'Belgium', 'Malta', 'Brazil', 'Israel', 'Norway', 'Trinidad & Tobago', 'Colombia', 'Nicaragua', 'Guatemala', 'Thailand', 'Australia', 'Sweden', 'Ireland', 'Austria', 'Italy', 'France', 'United Arab Emirates', 'Canada', 'Argentina', 'Saudi Arabia', 'Singapore', 'Slovakia', 'Panama', 'Spain', 'New Zealand', 'Uruguay', 'Denmark', 'Germany', 'Switzerland', 'Qatar', 'Bahrain', 'Finland', 'Uzbekistan', 'Chile'}
 {'Mexico', 'El Salvador', 'Taiwan', 'Czech Republic', 'United Kingdom', 'Iceland', 'United States', 'Netherlands', 'Luxembourg', 'Lithuania', 'Ecuador', 'Poland', 'Kosovo', 'Costa Rica', 'Belgium', 'Malta', 'Brazil', 'Israel', 'Norway', 'Trinidad & Tobago', 'Colombia', 'Nicaragua', 'Guatemala', 'Australia', 'Sweden', 'Ireland', 'Austria', 'Italy', 'France', 'United Arab Emirates', 'Canada', 'Saudi Arabia', 'Argentina', 'Romania', 'Singapore', 'Slovakia', 'Slovenia', 'Panama', 'Cyprus', 'Spain', 'New Zealand', 'Qatar', 'Denmark', 'Germany', 'Switzerland', 'Uruguay', 'Bahrain', 'Finland', 'Uzbekistan', 'Chile'}

{'Thailand', 'Belize', 'Kuwait', 'Malaysia'}

# Question **2018년,2019년 모두 기록이 있는 나라들 중 년도별 행복점수가 가장 증가한 나라와 그 증가 수치는?**

In [129]:
#답
count = df.나라명.value_counts()
target = count[count>=2].index

df2 =df.copy()
multiple = df2[df2.나라명.isin(target)].reset_index(drop=True)
multiple.loc[multiple['년도']==2018,'점수'] = multiple[multiple.년도 ==2018]['점수'].values * (-1)
result = multiple.groupby('나라명').sum()['점수'].sort_values().to_frame().iloc[-1]
result

점수    0.87
Name: Burundi, dtype: float64