데이터 설명 : 포켓몬 정보data url = [https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv](https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv)

Question **Legendary 컬럼은 전설포켓몬 유무를 나타낸다.전설포켓몬과 그렇지 않은 포켓몬들의 HP평균의 차이를 구하여라**

Question **Type 1은 주속성 Type 2 는 부속성을 나타낸다. 가장 많은 부속성 종류는 무엇인가?**

Question **가장 많은 Type 1 의 종의 평균 Attack 을 평균 Defense로 나눈값은?**

Question **포켓몬 세대(Generation) 중 가장많은 Legendary를 보유한 세대는 몇세대인가?**

<font color='red'>Question **‘HP’, ‘Attack’, ‘Defense’, ‘Sp. Atk’, ‘Sp. Def’, ‘Speed’ 간의 상관 계수중 가장 절댓값이 큰 두 변수와 그 값을 구하여라**</font>

<font color='red'>Question **각 Generation의 Attack으로 오름차순 정렬시 상위 3개 데이터들(18개)의 Attack의 전체 평균을 구하여라**
    <br>Question **각 Generation의 Attack으로 내림차순 정렬시 상위 5개 데이터들(30개)의 Attack의 전체 평균을 구하여라**
    </font>

<font color='red'>Question **가장 흔하게 발견되는 (Type1 , Type2) 의 쌍은 무엇인가?**
<br>Question **한번씩만 존재하는 (Type1 , Type2)의 쌍의 갯수는 몇개인가?**
<br>Question **한번씩만 존재하는 (Type1 , Type2)의 쌍을 각 세대(Generation)은 각각 몇개씩 가지고 있는가?**</font>

In [2]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv")
df.head(3)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

# Question Legendary 컬럼은 전설포켓몬 유무를 나타낸다.전설포켓몬과 그렇지 않은 포켓몬들의 HP평균의 차이를 구하여라

In [39]:
answer = df.groupby('Legendary').HP.mean().diff().to_list()[1]
answer

25.55614861329147

In [40]:
#답
target = df.groupby('Legendary').mean()['HP']
result = target.values[1] -target.values[0]
print(result)

25.55614861329147

# Question Type 1은 주속성 Type 2 는 부속성을 나타낸다. 가장 많은 부속성 종류는 무엇인가?

In [42]:
answer = df.groupby('Type 2').size().sort_values().index[-1]
print(answer)

Flying

In [41]:
#답
result = df['Type 2'].value_counts().index[0]
print(result)

Flying

# Question 가장 많은 Type 1 의 종의 평균 Attack 을 평균 Defense로 나눈값은?

In [22]:
target = df.groupby('Type 1').size().sort_values().index[-1]
target

'Water'

In [25]:
answer = (df['Attack'][df['Type 1']==target]).mean()/(df['Defense'][df['Type 1']==target]).mean()
answer

1.0165238678090576

In [43]:
#답
Max = df['Type 1'].value_counts().index[0]

result = df[df['Type 1']== Max].Attack.mean() /df[df['Type 1']== Max].Defense.mean()
print(result)

1.0165238678090576

# Question 포켓몬 세대(Generation) 중 가장많은 Legendary를 보유한 세대는 몇세대인가?

In [16]:
answer = df.loc[df['Legendary']==True].groupby('Generation').size().sort_values().index[-1]
answer

3

In [47]:
#답
result =df[df.Legendary==True].Generation.value_counts().index[0]
result

3

# Question ‘HP’, ‘Attack’, ‘Defense’, ‘Sp. Atk’, ‘Sp. Def’, ‘Speed’ 간의 상관 계수중 가장 절댓값이 큰 두 변수와 그 값을 구하여라

stack은 컬럼을 인덱스로 unstack은 인덱스를 컬럼으로 체인지시키는 역할을 합니다.

하지만 stack의 경우 Series로 변환되니 염두를 해두고 코딩작업을 해야할 것 같습니다.

In [15]:
#답
target = df[[ 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].corr().unstack().reset_index().rename(columns={0: "corr"})
result = target[target['corr']!=1].sort_values('corr',ascending=False).iloc[0]
print(result)

level_0     Sp. Def
level_1     Defense
corr       0.510747
Name: 26, dtype: object

In [11]:
target = df[[ 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].corr()
target

               HP    Attack   Defense   Sp. Atk   Sp. Def     Speed
HP       1.000000  0.422386  0.239622  0.362380  0.378718  0.175952
Attack   0.422386  1.000000  0.438687  0.396362  0.263990  0.381240
Defense  0.239622  0.438687  1.000000  0.223549  0.510747  0.015227
Sp. Atk  0.362380  0.396362  0.223549  1.000000  0.506121  0.473018
Sp. Def  0.378718  0.263990  0.510747  0.506121  1.000000  0.259133
Speed    0.175952  0.381240  0.015227  0.473018  0.259133  1.000000

In [12]:
target = df[[ 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].corr().unstack()
target

HP       HP         1.000000
         Attack     0.422386
         Defense    0.239622
         Sp. Atk    0.362380
         Sp. Def    0.378718
         Speed      0.175952
Attack   HP         0.422386
         Attack     1.000000
         Defense    0.438687
         Sp. Atk    0.396362
         Sp. Def    0.263990
         Speed      0.381240
Defense  HP         0.239622
         Attack     0.438687
         Defense    1.000000
         Sp. Atk    0.223549
         Sp. Def    0.510747
         Speed      0.015227
Sp. Atk  HP         0.362380
         Attack     0.396362
         Defense    0.223549
         Sp. Atk    1.000000
         Sp. Def    0.506121
         Speed      0.473018
Sp. Def  HP         0.378718
         Attack     0.263990
         Defense    0.510747
         Sp. Atk    0.506121
         Sp. Def    1.000000
         Speed      0.259133
Speed    HP         0.175952
         Attack     0.381240
         Defense    0.015227
         Sp. Atk    0.473018
         Sp. Def    0.259133
         Speed      1.000000
dtype: float64

In [13]:
target = df[[ 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].corr().stack()
target

HP       HP         1.000000
         Attack     0.422386
         Defense    0.239622
         Sp. Atk    0.362380
         Sp. Def    0.378718
         Speed      0.175952
Attack   HP         0.422386
         Attack     1.000000
         Defense    0.438687
         Sp. Atk    0.396362
         Sp. Def    0.263990
         Speed      0.381240
Defense  HP         0.239622
         Attack     0.438687
         Defense    1.000000
         Sp. Atk    0.223549
         Sp. Def    0.510747
         Speed      0.015227
Sp. Atk  HP         0.362380
         Attack     0.396362
         Defense    0.223549
         Sp. Atk    1.000000
         Sp. Def    0.506121
         Speed      0.473018
Sp. Def  HP         0.378718
         Attack     0.263990
         Defense    0.510747
         Sp. Atk    0.506121
         Sp. Def    1.000000
         Speed      0.259133
Speed    HP         0.175952
         Attack     0.381240
         Defense    0.015227
         Sp. Atk    0.473018
         Sp. Def    0.259133
         Speed      1.000000
dtype: float64

# Question 각 Generation의 Attack으로 오름차순 정렬시 상위 3개 데이터들(18개)의 Attack의 전체 평균을 구하여라

In [73]:
answer = df.sort_values(['Generation','Attack']).groupby('Generation').head(3).Attack.mean()
answer # 아래 답보고 유추 및 베낀거임 ㅋ.ㅋ

19.5

In [72]:
# 답
answer = df.sort_values(['Generation','Attack']).groupby('Generation').head(3).Attack.mean()
answer

19.5

# Question 각 Generation의 Attack으로 내림차순 정렬시 상위 5개 데이터들(30개)의 Attack의 전체 평균을 구하여라

In [60]:
answer = df.groupby('Generation').Attack.value_counts().to_frame()
answer

                   Attack
Generation Attack
1          65          12
           80          11
           45          10
           50           8
           70           7
...                   ...
6          107          1
           117          1
           121          1
           124          1
           150          1

[305 rows x 1 columns]

In [69]:
answer = df.sort_values(['Generation','Attack'],ascending=False).groupby('Generation')
answer

In [68]:
answer = df.sort_values(['Generation','Attack'],ascending=False).groupby('Generation').head(5)
answer

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
750,681,AegislashBlade Forme,Steel,Ghost,520,60,150,50,150,50,60,6,False
792,716,Xerneas,Fairy,NaN,680,126,131,95,131,98,99,6,True
793,717,Yveltal,Dark,Flying,680,126,131,95,131,98,99,6,True
711,646,KyuremBlack Kyurem,Dragon,Ice,700,125,170,100,120,90,95,5,True
707,644,Zekrom,Dragon,Electric,680,100,150,120,120,100,90,5,True
673,612,Haxorus,Dragon,NaN,540,76,147,90,60,70,97,5,False
709,645,LandorusTherian Forme,Ground,Flying,600,89,145,90,105,80,91,5,True
594,534,Conkeldurr,Fighting,NaN,505,105,140,95,55,65,45,5,False
494,445,GarchompMega Garchomp,Dragon,Ground,700,108,170,115,120,95,92,4,False
454,409,Rampardos,Rock,NaN,495,97,165,60,65,50,58,4,False
527,475,GalladeMega Gallade,Psychic,Fighting,618,68,165,95,65,115,110,4,False
543,486,Regigigas,Normal,NaN,670,110,160,110,80,110,100,4,True
498,448,LucarioMega Lucario,Fighting,Steel,625,70,145,88,140,70,112,4,False
424,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True
387,354,BanetteMega Banette,Ghost,NaN,555,64,165,75,93,83,75,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,630,80,160,80,130,80,100,3,False
232,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False
268,248,TyranitarMega Tyranitar,Rock,Dark,700,100,164,150,95,120,71,2,False
229,212,ScizorMega Scizor,Bug,Steel,600,70,150,140,65,100,75,2,False
267,248,Tyranitar,Rock,Dark,600,100,134,110,95,100,61,2,False
228,212,Scizor,Bug,Steel,500,70,130,100,55,80,65,2,False
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
137,127,PinsirMega Pinsir,Bug,Flying,600,65,155,120,65,90,105,1,False
141,130,GyaradosMega Gyarados,Water,Dark,640,95,155,109,70,130,81,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True

In [61]:
# 답
result =  df.sort_values(['Generation','Attack'],ascending=False).groupby('Generation').head(5).Attack.mean()
print(result)

157.23333333333332

# Question 가장 흔하게 발견되는 (Type1 , Type2) 의 쌍은 무엇인가?

답보고 베낌

In [77]:
target = df[['Type 1','Type 2']].value_counts().head(1)
target

Type 1  Type 2
Normal  Flying    24
dtype: int64

In [79]:
target = df[['Type 1','Type 2']].value_counts().index[0]
target

('Normal', 'Flying')

# Question 한번씩만 존재하는 (Type1 , Type2)의 쌍의 갯수는 몇개인가?

In [88]:
target =  df[['Type 1','Type 2']].value_counts()
target

Type 1    Type 2
Normal    Flying    24
Grass     Poison    15
Bug       Flying    14
          Poison    12
Ghost     Grass     10
                    ..
Fire      Rock       1
Ice       Ghost      1
Fire      Dragon     1
Fighting  Flying     1
Water     Steel      1
Length: 136, dtype: int64

In [91]:
#답
target =  df[['Type 1','Type 2']].value_counts()
answer = len(target[target==1])
answer

39

# Question 한번씩만 존재하는 (Type1 , Type2)의 쌍을 각 세대(Generation)은 각각 몇개씩 가지고 있는가?

In [87]:
target =  df[['Generation','Type 1','Type 2']].value_counts()
target

Generation  Type 1  Type 2
6           Ghost   Grass       10
1           Grass   Poison      10
            Normal  Flying       9
            Bug     Poison       6
3           Dragon  Flying       5
                                ..
            Ground  Fire         1
            Grass   Poison       1
                    Flying       1
                    Fighting     1
6           Water   Dark         1
Length: 212, dtype: int64

In [7]:
target =  df[['Generation','Type 1','Type 2']].value_counts()
answer = (target[target==1])
answer

Generation  Type 1    Type 2
5           Dragon    Fire        1
                      Electric    1
            Rock      Fighting    1
            Fire      Psychic     1
6           Fighting  Dark        1
                                 ..
3           Ground    Fire        1
            Grass     Poison      1
                      Flying      1
                      Fighting    1
6           Water     Dark        1
Length: 101, dtype: int64

In [8]:
#답
target = df[['Type 1','Type 2']].value_counts()
target2 =target[target==1]

lst = []
for value in target2.reset_index().values:
    t1 = value[0]
    t2 = value[1]
    
    sp = df[(df['Type 1']==t1) & (df['Type 2']==t2)]
    lst.append(sp)

result = pd.concat(lst).reset_index(drop=True).Generation.value_counts().sort_index()
print(result)

1     1
2     4
3     5
4    13
5     7
6     9
Name: Generation, dtype: int64